<!DOCTYPE HTML>
<html>
<head>
	<head lang="en">
		<meta name="description" content="Sign up for Rutgers University Spring 2016 hackathon, HackRU! April 16th to 17th.">
		<meta name="title" content="HackRU">
		<meta property="og:title" content="HackRU Spring 2016"/>
		<meta property="og:description" content="Get hyped for the best hackathon Rutgers has to offer! HackRU's 10th hackathon is coming this Spring 2016! April 16th to 17th."/>
		<meta property="og:image" content="http://yuzu.s-ul.eu/CafRwagJ"/>
		<link href="../static/icon/fav.png" rel="shortcut icon" type="image/png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
		<link href='../static/stylesheets/sign-up.css' rel='stylesheet' type="text/css">
	</head>
	<body>
		<nav>
			<div class="container">
				<ul class="logo">
					<a href="./index.html#landing"><img src="../static/assets/img/hack-ru-logo-rel.svg"></a>
				</ul>
				<ul class="items">
					<span class="divide">
						<li><a href="./index.html#1">about</a></li>
						<li><a href="./index.html#2">faq</a></li>
					</span>
					<li><a href="./index.html#3">schedule</a></li>
					<li><a href="./index.html#4">sponsors</a></li>
				</ul>
			</div>
		</nav>
		<section id="main">
			<div class="banner" style="background-image: url('../static/assets/img/faq.jpg')">
				<div class="wrapper faq">
					<h1>Registration</h1>
				</div>
			</div>
		</section>
		<section id="active-area">
			<div class="main-container">
				<img src="../static/assets/img/check.svg">
				<img src="../static/assets/img/x.svg">
				<img src="../static/assets/img/happy.svg">
				<h1>Thanks for signing up for HackRU!</h1>
				<p>Awesome, you're signed in with myMLH! Now we just a little bit more information about you.</p>
				<div class="input-wrapper" label="Label Text 1">
					<input class="inpt normal" placeholder="placeholder text">
				</div>
				<div class="input-wrapper" label="Label Text 2">
					<input class="inpt toggle" placeholder="placeholder text">
				</div>
				<div class="btn-wrapper" label="Resume">
					<button class="btn small">Add</button>
				</div>
				<p>We participate in Major League Hacking (MLH) as a MLH Member Event. By accepting, you authorize us to share certain registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy.</a></p>

				<button class="btn-ru">Finish</button>
				<button class="btn-ru green">Finish</button>
			</div>
		</section>
	</body>
	</html>