<div class="row text-black footer">
    <div class="col-12 col-lg-10 offset-lg-1">

        <div class="row">
            <div class="col-12 text-center col-lg-4 text-left-lg">
                <h6 class="text-vcenter">
                    <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH's Code of Conduct</a>
                </h6>
            </div>

            <div class="col-12 col-lg-4 text-center">

                <a href="mailto:info@hackru.org" class="social-links" data-email="info@hackru.org" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/theHackRU/" class="social-links" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/thehackru/" class="social-links" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://medium.com/the-hackru" class="social-links" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                <a href="https://twitter.com/theHackRU" class="social-links" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

            </div>


            <div class="col-12 mb-5 mb-lg-0 text-center col-lg-4 text-right-lg">

                <a href="https://mlh.io/" target="_blank">
                    <img class="footer-logo" src="../assets/icons/mlh-logo-red.svg" alt="MLH logo">
                </a>
                <a href="http://usacs.rutgers.edu/" target="_blank">
                    <img class="footer-logo" src="../assets/icons/usacs-logo-red.svg" alt="USACS logo">
                </a>

            </div>

        </div>



    </div>
</div>


