<div class="row min-quarter-height text-black">
    <div class="col-10 offset-1">
        <div class="row row-title-box">
            <div class="col-12">
                <h2 class="row-title">Footer</h2>
            </div>
        </div>

        <div class="row row-content-box">
            <div class="col-12">

            </div>
        </div>

    </div>
</div>