<meta charset="UTF-8">
<meta property="og:title" content="HackRU Fall 2017"/>
<meta property="og:description" content="Get hyped for the best hackathon that Rutgers has to offer! The 13th semiannual HackRU is coming this Fall 2017, from October 14th-15th at College Ave Student Center." />
<meta property="og:image" content="http://www.hackru.org/assets/hackRU_SP17_avatar.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sign up for HackRU Fall 2017, taking place from October 14th to 15th.">
<title>HackRU Fall 2017</title>

<link href="../assets/fav.png" rel="shortcut icon" type="image/png"/>

<link rel="stylesheet" type="text/css" href="../css/tether.min.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">

<script src="../js/tether.min.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>