<form class="form-horizontal" role="form" method="post"
<% if (show_mlh_cc) { %>
action="/register-mymlh"
<% }else{ %>
action="/account"
<% } %>
enctype="multipart/form-data">
    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">GitHub Username</h5>
        </div>

        <input name="github" type="text" class="form-control" id="formGroupExampleInput" placeholder=<%= user.github %>>
    </div>

    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">Resumé</h5>
        </div>

        <label class="custom-file">
            <input name="resume" type="file" id="file" class="custom-file-input">
            <span class="custom-file-control"></span>
        </label>
    </div>

    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">Short answer question here.</h5>
        </div>

        <textarea name="short_answer" class="form-control" id="exampleTextarea" rows="3" <% if(user.registration_status != 7 && user.registration_status != 0) { %> readonly <% } %>><%= user.short_answer %></textarea>
    </div>

    <div class="form-group">
        <h5 class="bold-text app-section-title">Graduation Year</h5>
        <select name="grad_year" class="form-control" id="exampleSelect1" selected="<%= user.grad_year %>">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
    </div>

    <% if (show_mlh_cc) { %>
        <p class="text-left" id="registration-terms">We participate in Major League Hacking (MLH) as an MLH Member Event. By accepting, you authorize us to share certain application/registration information for event administration, ranking, MLH admission, and occasional messages about hackathons in line with the <a href="/">MLH Privacy Policy</a>. Also, you understand that by uploading your resumé and Github handle, it can potentially be shared with sponsors of HackRU and you may be contacted by recruiters. By accepting, you also agree to the rules and policies of HackRU as they are listed in <a href="https://github.com/HackRU/Policies/blob/master/HackRU%20Spring%2017%20Waiver.pdf" target="_blank">here</a>.</p>

            <div id="registration-checkbox">
            <p><input type="checkbox" name="data_sharing" required>I have read and agree with the rules and conditions above.</p>
            </div>

    <% } %>

    <button type="submit" class="btn btn-primary bold-text">Submit</button>
    <a href="/dashboard" class="btn btn-default content-button">Dashboard</a>
</form>
