<form class="form-horizontal" role="form" method="post" action="/account" enctype="multipart/form-data">
    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">GitHub Username</h5>
        </div>

        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="GitHub Username">
    </div>

    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">Resumé</h5>
        </div>

        <label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control"></span>
        </label>
    </div>

    <div class="form-group">
        <div class="app-section-title-box">
            <h5 class="bold-text app-section-title">Short answer question here.</h5>
        </div>

        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <div class="form-group">
        <h5 class="bold-text app-section-title">Graduation Year</h5>
        <select class="form-control" id="exampleSelect1">
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
            <option>20xx</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary bold-text">Submit</button>
    <a href="/dashboard" class="btn btn-default content-button">Dashboard</a>
</form>