<div class="col-5 more-info">

    <h2 class="li-section-title">More Info</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quas!</p>

    <h2>something else here? maybe stuff from the main index page like FAQs, about us..?</h2>

    <p>or fun little stamps they can interact with???? who knows. page seems empty.</p>

    <!--<img class="half-filler-img" src="./assets/icons/Stamp-Globe-Gradient.png" alt="">-->
</div>