
<div class="row">
    <div class="col-12 about-map-container">
        <iframe class="about-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.8805467681675!2d-74.45265422104657!3d40.5026657080946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c6555ac2d7f7%3A0x8820e7c83ea74250!2sCollege+Avenue+Student+Center!5e0!3m2!1sen!2sus!4v1502828160852" width="100%" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>

<h3 class="li-section-title text-center bold-text mt-3">HackRU Fall 2017</h3>
<p class="text-center bold-text">October 14th-15th, 2017<br>College Ave Student Center, Rutgers University</p>


<div class="row hidden-md-down mt-5">
    <div class="col-3 text-center social-link-card">social card here</div>
    <div class="col-3 text-center social-link-card">social card here</div>
    <div class="col-3 text-center social-link-card">social card here</div>
    <div class="col-3 text-center social-link-card">social card here</div>
</div>
