<nav class="navbar navbar-toggleable-md li-nav-bar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars text-white" aria-hidden="true"></i></span>
    </button>

    <a class="navbar-brand" href="/">
        <img src="../assets/logo.svg" class="li-nav-bar-logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" id="nav-link-home" href="/">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" id="nav-link-dashboard" href="/dashboard">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="nav-link-registration" href="/registration">Application</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

        </ul>
    </div>
</nav>
