<div class="hidden-md-down row text-center text-white" id="nav-bar">
    <div class="col-2 offset-1"><a href="#about-us"><h4 class="nav-bar-link">About Us</h4></a></div>
    <div class="col-2"><a href="#schedule"><h4 class="nav-bar-link">Schedule</h4></a></div>
    <div class="col-2"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-2"><a href="#faqs"><h4 class="nav-bar-link">FAQs</h4></a></div>
    <div class="col-2"><a href="#sponsors"><h4 class="nav-bar-link">Sponsors</h4></a></div>
</div>

<div class="hidden-lg-up row text-center text-white" id="nav-bar">
    <div class="col-8 col-sm-4 offset-2 offset-sm-4"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-2 col-sm-4"></div>

    <div class="col-6 col-sm-3"><a href="#about-us"><h4>About Us</h4></a></div>
    <div class="col-6 col-sm-3"><a href="#schedule"><h4>Schedule</h4></a></div>
    <div class="col-6 col-sm-3"><a href="#faqs"><h4>FAQs</h4></a></div>
    <div class="col-6 col-sm-3"><a href="#sponsors"><h4>Sponsors</h4></a></div>

</div>