<div class="row text-center text-white" id="nav-bar">
    <div class="col-2 offset-1"><h6 class="nav-bar-link">About Us</h6></div>
    <div class="col-2"><h6 class="nav-bar-link">Schedule</h6></div>
    <div class="col-2"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-2"><h6 class="nav-bar-link">FAQs</h6></div>
    <div class="col-2"><h6 class="nav-bar-link">Sponsors</h6></div>
</div>