<div class="row text-center text-white" id="nav-bar">
    <div class="col-2"><h2 class="nav-bar-link">LINK HERE</h2></div>
    <div class="col-2"><h2 class="nav-bar-link">LINK HERE</h2></div>
    <div class="col-4"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-2"><h2 class="nav-bar-link">LINK HERE</h2></div>
    <div class="col-2"><h2 class="nav-bar-link">LINK HERE</h2></div>
</div>