<div class="hidden-lg-down row text-center text-white bg-gradient" id="nav-bar">

    <div class="col-1 offset-2"><a href="http://hackru.org/#about-us" target="_blank"><h5 class="nav-bar-link bold-text">About Us</h5></a></div>
    <div class="col-1"><a href="http://hackru.org/#schedule" target="_blank"><h5 class="nav-bar-link bold-text">Schedule</h5></a></div>
    <div class="col-1"><a href="http://hackru.org/#faqs" target="_blank"><h5 class="nav-bar-link bold-text">FAQs</h5></a></div>

    <div class="col-2"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-1"><a href="http://hackru.org/#sponsors" target="_blank"><h5 class="nav-bar-link bold-text">Sponsors</h5></a></div>
    <div class="col-1"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddRjq9DIG8HQl48ERSWQq5kdO89Vr05edDD1Fnfgqq8vnzJg/viewform"><h5 class="nav-bar-link bold-text">Mentor</h5></a></div>
    <div class="col-1"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScg2sf8xi14Zq3ZIouYJof4EsZkCYYZKTQCkC5lltMZxmfGuQ/viewform"><h5 class="nav-bar-link bold-text">Volunteer</h5></a></div>
</div>


<!-- mobile nav -->
<div class="hidden-xl-up row text-center text-white bg-gradient mb-5" id="nav-bar-mobile">
    <div class="col-8 col-sm-4 offset-2 offset-sm-4"><img src="../assets/logo.svg" class="nav-bar-logo"></div>
    <div class="col-2 col-sm-4"></div>

    <div class="col-6 col-sm-3"><a href="http://hackru.org/#about-us" target="_blank"><h4 class="bold-text">About Us</h4></a></div>
    <div class="col-6 col-sm-3"><a href="http://hackru.org/#schedule" target="_blank"><h4 class="bold-text">Schedule</h4></a></div>
    <div class="col-6 col-sm-3"><a href="http://hackru.org/#faqs" target="_blank"><h4 class="bold-text">FAQs</h4></a></div>
    <div class="col-6 col-sm-3"><a href="http://hackru.org/#sponsors" target="_blank"><h4 class="bold-text">Sponsors</h4></a></div>
    <div class="col-6 col-sm-3 offset-sm-3"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddRjq9DIG8HQl48ERSWQq5kdO89Vr05edDD1Fnfgqq8vnzJg/viewform"><h4 class="bold-text">Mentor</h4></a></div>
    <div class="col-6 col-sm-3"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScg2sf8xi14Zq3ZIouYJof4EsZkCYYZKTQCkC5lltMZxmfGuQ/viewform"><h4 class="bold-text">Volunteer</h4></a></div>

</div>