# this specifies that there is a WSGI server running on port 8000
user ec2-user;

events{
    worker_connections 4096;
}

# Nginx is set up to run on the standard HTTP port and listen for requests
http{

    server {
        listen 80;
        listen [::]:80;
        server_name hackru.org www.hackru.org; 
        rewrite ^/(.*)/$ /$1 permanent;
        return 301 https://hackru.org/$request_uri;
    }

    server {
        listen 443;
        server_name www.hackru.org; 
        ssl_certificate /etc/ssl/www.hackru.org.crt;
        ssl_certificate_key /etc/ssl/www.hackru.org.key;
        rewrite ^/(.*)/$ /$1 permanent;
        return 301 https://hackru.org$request_uri;
    }

    server {
        autoindex on;
        sendfile on;

        listen 443 ssl;
        server_name hackru.org;
        ssl_certificate /etc/ssl/hackru.org.crt;
        ssl_certificate_key /etc/ssl/hackru.org.key;
        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        rewrite ^/(.*)/$ /$1 permanent;


# nginx should serve up static files and never send to the WSGI server
        location / {
            include /etc/nginx/mime.types;
            autoindex on;
            alias /home/ec2-user/frontend/build/;
        }

    }
}
