/* line 1, ../sass/animate.scss */
.learn-more-arrow {
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  50% {
    -moz-transform: translate(0px, 15px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 15px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
  50% {
    -o-transform: translate(0px, 15px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(0px, 15px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
/* line 29, ../sass/base.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../sass/base.sass */
textarea, input {
  outline: none;
}

/* line 37, ../sass/base.sass */
body {
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/base.sass */
.address-fix {
  height: 100vh;
}

/* line 42, ../sass/base.sass */
.anchor-fix {
  position: relative;
  top: -75;
}

/* line 45, ../sass/base.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* line 53, ../sass/base.sass */
#mlh-trust-badge {
  position: absolute;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000;
  transition: left 0.2s ease-in-out;
  left: 20px;
}
@media only screen and (max-width: 570px) {
  /* line 53, ../sass/base.sass */
  #mlh-trust-badge {
    top: 75px;
    z-index: 1;
  }
}

/* line 66, ../sass/base.sass */
line, nav, .landing-content .social-media a, #about, #faq, #schedule {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 69, ../sass/base.sass */
nav {
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #d42323;
  display: none;
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
}
@media only screen and (max-width: 570px) {
  /* line 69, ../sass/base.sass */
  nav {
    display: none;
  }
}
/* line 85, ../sass/base.sass */
nav .logo {
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out;
  height: 75px;
  width: 150px;
}
@media only screen and (max-width: 720px) {
  /* line 85, ../sass/base.sass */
  nav .logo {
    margin-left: 40%;
    opacity: 0;
    position: fixed;
  }
}
/* line 94, ../sass/base.sass */
nav .logo img {
  margin: 0 auto;
  height: 106px;
  width: 160px;
}
/* line 98, ../sass/base.sass */
nav .logo a {
  padding-top: 5px;
  position: absolute;
  height: 75px;
  transition: all 0.2s ease-in-out;
}
/* line 103, ../sass/base.sass */
nav .logo a:hover {
  transform: scale(1.025);
}
/* line 105, ../sass/base.sass */
nav .items {
  height: 75px;
  float: left;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 950px) {
  /* line 114, ../sass/base.sass */
  nav .items .divide {
    left: 0;
    position: fixed;
    display: inline-block;
  }
}
@media only screen and (max-width: 720px) {
  /* line 119, ../sass/base.sass */
  nav .items .divide {
    left: auto;
    position: relative;
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  /* line 105, ../sass/base.sass */
  nav .items {
    width: 100%;
  }
}
/* line 125, ../sass/base.sass */
nav .items li {
  height: 75px;
  float: left;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 125, ../sass/base.sass */
  nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 133, ../sass/base.sass */
nav .items li a {
  line-height: 75px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 133, ../sass/base.sass */
  nav .items li a {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 147, ../sass/base.sass */
nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(186, 29, 29, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/* line 152, ../sass/base.sass */
#landing {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-image: url("../assets/img/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}
/* line 162, ../sass/base.sass */
#landing .container {
  z-index: 2;
  height: 100%;
}

/* line 166, ../sass/base.sass */
.landing-nav {
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (max-width: 570px) {
  /* line 166, ../sass/base.sass */
  .landing-nav {
    position: fixed;
  }
}
/* line 181, ../sass/base.sass */
.landing-nav .items {
  height: 75px;
  float: right;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 181, ../sass/base.sass */
  .landing-nav .items {
    width: 100%;
    padding-left: 12%;
    background-color: rgba(196, 8, 8, 0.5);
  }
}
@media only screen and (max-width: 570px) {
  /* line 181, ../sass/base.sass */
  .landing-nav .items {
    padding-left: 0;
  }
}
/* line 192, ../sass/base.sass */
.landing-nav .items li {
  height: 75px;
  float: left;
  display: inline-block;
}
@media only screen and (max-width: 720px) {
  /* line 192, ../sass/base.sass */
  .landing-nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 199, ../sass/base.sass */
.landing-nav .items li a {
  line-height: 75px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 199, ../sass/base.sass */
  .landing-nav .items li a {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 212, ../sass/base.sass */
.landing-nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(208, 37, 37, 0.8);
}

/* line 216, ../sass/base.sass */
.landing-content {
  padding: 0 8%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  font-family: "Work Sans";
  color: white;
  text-align: center;
}
/* line 225, ../sass/base.sass */
.landing-content .logo {
  width: 36vh;
  max-width: 330px;
  margin-bottom: 4.6%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 225, ../sass/base.sass */
  .landing-content .logo {
    margin-bottom: 8%;
  }
}
@media only screen and (max-height: 800px) {
  /* line 225, ../sass/base.sass */
  .landing-content .logo {
    margin-bottom: 2%;
  }
}
/* line 237, ../sass/base.sass */
.landing-content .logo img {
  max-width: 100%;
}
/* line 239, ../sass/base.sass */
.landing-content .logo .spacer {
  position: relative;
  z-index: 1;
  min-height: 150px;
  height: 20%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 239, ../sass/base.sass */
  .landing-content .logo .spacer {
    min-height: 100px;
  }
}
@media only screen and (max-height: 800px) {
  /* line 239, ../sass/base.sass */
  .landing-content .logo .spacer {
    min-height: 100px;
  }
}
/* line 251, ../sass/base.sass */
.landing-content .landing-text p {
  transition: all 0.2s ease-in-out;
}
/* line 253, ../sass/base.sass */
.landing-content .landing-text p:nth-child(1) {
  font-weight: 400;
  font-size: 1.25em;
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 253, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(1) {
    font-size: 4vw;
  }
}
@media only screen and (max-height: 570px) {
  /* line 253, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(1) {
    font-size: 3vh;
  }
}
/* line 261, ../sass/base.sass */
.landing-content .landing-text p:nth-child(2) {
  font-size: 2.525em;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 570px) {
  /* line 261, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(2) {
    font-size: 8vw;
  }
}
@media only screen and (max-height: 570px) {
  /* line 261, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(2) {
    font-size: 5vh;
  }
}
/* line 270, ../sass/base.sass */
.landing-content .landing-text p:nth-child(3) {
  font-weight: 700;
  font-size: 1.5em;
}
@media only screen and (max-width: 570px) {
  /* line 270, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(3) {
    font-size: 6vw;
  }
}
@media only screen and (max-height: 570px) {
  /* line 270, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(3) {
    font-size: 4vh;
  }
}
/* line 277, ../sass/base.sass */
.landing-content .sign-up {
  white-space: nowrap;
  margin-top: 4.6%;
}
@media only screen and (max-width: 720px) {
  /* line 277, ../sass/base.sass */
  .landing-content .sign-up {
    margin-top: 10%;
  }
}
@media only screen and (max-height: 800px) {
  /* line 277, ../sass/base.sass */
  .landing-content .sign-up {
    margin-top: 6vh;
  }
}
@media only screen and (max-height: 570px) {
  /* line 277, ../sass/base.sass */
  .landing-content .sign-up {
    margin-top: 0vh;
  }
}
/* line 286, ../sass/base.sass */
.landing-content .sign-up .email-btn {
  margin-left: 5px;
  background-color: #ffc933;
  color: #f43434;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Work Sans";
  padding: 0px 20px;
  line-height: 44px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  border: 3px solid #ffc933;
}
/* line 302, ../sass/base.sass */
.landing-content .sign-up .email-btn:hover {
  background-color: rgba(255, 201, 51, 0);
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 286, ../sass/base.sass */
  .landing-content .sign-up .email-btn {
    margin: 15px 0px;
    width: 100%;
  }
}
/* line 308, ../sass/base.sass */
.landing-content .sign-up input {
  border-radius: 8px;
  border: 0px;
  transition: all 0.2s ease-in-out;
}
/* line 312, ../sass/base.sass */
.landing-content .sign-up input:focus {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 236, 138, 0.7);
  -moz-box-shadow: 0px 0px 7px 0px rgba(255, 236, 138, 0.7);
  box-shadow: 0px 0px 7px 0px rgba(255, 236, 138, 0.7);
}
/* line 316, ../sass/base.sass */
.landing-content .sign-up .email-input {
  border-radius: 8px;
  width: 260px;
  height: 50px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Work Sans";
  background-color: #ffc933;
  color: #f43434;
}
/* line 325, ../sass/base.sass */
.landing-content .sign-up .email-input::-webkit-input-placeholder {
  color: #FF8D00;
}
/* line 327, ../sass/base.sass */
.landing-content .sign-up .email-input::-moz-placeholder {
  color: #FF8D00;
}
/* line 329, ../sass/base.sass */
.landing-content .sign-up .email-input::-ms-input-placeholder {
  color: #FF8D00;
}
/* line 331, ../sass/base.sass */
.landing-content .sign-up .email-input:-moz-placeholder {
  color: #FF8D00;
}
@media only screen and (max-width: 570px) {
  /* line 316, ../sass/base.sass */
  .landing-content .sign-up .email-input {
    margin-top: 15px;
    width: 100%;
  }
}
/* line 336, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn {
  display: block;
  color: #f43434;
  font-size: 1.2em;
  height: 50px;
  margin-top: 15px;
  position: relative;
  z-index: 15;
}
@media only screen and (max-width: 570px) {
  /* line 336, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn {
    margin-bottom: 2%;
  }
}
@media only screen and (max-height: 570px) {
  /* line 336, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn {
    display: inline-block;
  }
}
/* line 348, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 80%;
  white-space: nowrap;
  max-width: 312px;
  color: #f43434;
  background-color: #ffc933;
  border-radius: 8px;
  text-decoration: none;
  line-height: 44px;
  border: 3px solid #ffc933;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-height: 570px) {
  /* line 348, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn a {
    height: auto;
    width: auto;
    padding: 0.25vh 5vh;
    font-size: 3vh;
    min-width: auto;
  }
}
/* line 370, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a .svg path, .landing-content .sign-up .sign-up-btn a .svg rect {
  stroke-width: 0;
  fill: #f43434;
  transition: all 0.2s ease-in-out;
}
/* line 374, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover {
  background-color: transparent;
  color: #ffc933;
}
/* line 378, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover .svg path, .landing-content .sign-up .sign-up-btn a:hover .svg rect {
  fill: #ffc933;
}
/* line 381, ../sass/base.sass */
.landing-content .sign-up .inactive a {
  pointer-events: none;
  background-color: transparent;
  color: #ffc933;
}
/* line 385, ../sass/base.sass */
.landing-content .bottom-landing {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 570px) {
  /* line 385, ../sass/base.sass */
  .landing-content .bottom-landing {
    pointer-events: none;
  }
}
@media only screen and (max-height: 570px) {
  /* line 385, ../sass/base.sass */
  .landing-content .bottom-landing {
    pointer-events: none;
  }
}
/* line 395, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link {
  text-decoration: none;
  color: white;
  width: 80%;
  max-width: 1000px;
}
@media only screen and (max-width: 570px) {
  /* line 395, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link {
    pointer-events: none;
    max-width: 50px;
  }
}
@media only screen and (max-height: 570px) {
  /* line 395, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link {
    pointer-events: none;
    max-width: 50px;
  }
}
/* line 406, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more {
  padding: 20px 0 40px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 406, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more {
    pointer-events: none;
  }
}
@media only screen and (max-height: 570px) {
  /* line 406, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more {
    pointer-events: none;
  }
}
/* line 413, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more span {
  display: block;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 413, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more span {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-height: 720px) {
  /* line 413, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more span {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-height: 570px) {
  /* line 413, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more span {
    opacity: 0;
    pointer-events: none;
  }
}
/* line 426, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (max-width: 570px) {
  /* line 426, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
    margin-right: 20px;
  }
}
@media only screen and (max-height: 570px) {
  /* line 426, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
    margin-right: 20px;
  }
}
/* line 435, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more:hover {
  color: #ffc933;
}
/* line 437, ../sass/base.sass */
.landing-content .social-media {
  position: absolute;
  bottom: 0;
  pointer-events: auto;
  z-index: 15;
}
/* line 442, ../sass/base.sass */
.landing-content .social-media a {
  border-color: rgba(255, 255, 255, 0);
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  transition: all 0.2s ease-in-out;
  float: left;
}
/* line 452, ../sass/base.sass */
.landing-content .social-media a .svg path, .landing-content .social-media a .svg polygon, .landing-content .social-media a .svg rect {
  fill: white;
  transition: all 0.2s ease-in-out;
}
/* line 455, ../sass/base.sass */
.landing-content .social-media a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: #d42323;
}
/* line 459, ../sass/base.sass */
.landing-content .social-media a:hover .svg path, .landing-content .social-media a:hover .svg polygon, .landing-content .social-media a:hover .svg rect {
  fill: white;
}

/* line 462, ../sass/base.sass */
.red-fill {
  background-color: rgba(208, 37, 37, 0.8);
  width: 100%;
  height: 100vh;
  min-height: 400px;
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 471, ../sass/base.sass */
#about {
  position: relative;
  padding-top: 100vh;
  z-index: -1;
  width: 100%;
  height: auto;
  background-color: #d42323;
}
/* line 479, ../sass/base.sass */
#about .bg-pattern {
  height: auto;
  width: 100%;
  padding: 35px 0 50px;
  background-image: url("../assets/img/bg-pattern.svg");
  background-repeat: repeat;
  background-size: 21 28;
}
/* line 486, ../sass/base.sass */
#about .text-box {
  height: auto;
  width: 100%;
  padding: 50px 50px;
  display: inline-block;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 494, ../sass/base.sass */
#about .text-box .icon {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 72px;
  margin-bottom: 10px;
}
/* line 500, ../sass/base.sass */
#about .text-box h1 {
  font-family: "Montserrat";
  font-size: 2.0625em;
  margin-bottom: 10px;
}
/* line 504, ../sass/base.sass */
#about .text-box p {
  margin: 0 auto;
  max-width: 595px;
  font-family: "Work Sans";
  font-size: 1.1em;
  line-height: 22.35px;
}
/* line 510, ../sass/base.sass */
#about .text-box p:before {
  content: "";
  white-space: pre;
}
@media only screen and (max-width: 1200px) {
  /* line 514, ../sass/base.sass */
  #about .container {
    max-width: 595px;
  }
}
/* line 516, ../sass/base.sass */
#about .map {
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 521, ../sass/base.sass */
#about .map iframe {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 526, ../sass/base.sass */
.btn-wrapper {
  width: 100%;
}
/* line 528, ../sass/base.sass */
.btn-wrapper .btn {
  display: block;
  width: 100%;
  height: auto;
}
/* line 532, ../sass/base.sass */
.btn-wrapper .btn a {
  display: block;
  width: 85%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 40px;
  font-family: "Work Sans";
  background-color: #ffc933;
  border: 3px solid #ffc933;
  color: #f43434;
  position: relative;
  text-decoration: none;
  font-size: 1.4em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
/* line 549, ../sass/base.sass */
.btn-wrapper .btn a .svg {
  height: 18px;
  display: inline-block;
  width: 12px;
}
/* line 553, ../sass/base.sass */
.btn-wrapper .btn a .svg polygon, .btn-wrapper .btn a .svg path, .btn-wrapper .btn a .svg rect {
  fill: #f43434;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 532, ../sass/base.sass */
  .btn-wrapper .btn a {
    width: 90%;
    padding: 3vw 0vw;
    font-size: 4vw;
  }
}
/* line 560, ../sass/base.sass */
.btn-wrapper .btn a:hover {
  color: #ffc933;
  background-color: transparent;
}
/* line 564, ../sass/base.sass */
.btn-wrapper .btn a:hover .svg polygon, .btn-wrapper .btn a:hover .svg path, .btn-wrapper .btn a:hover .svg rect {
  fill: #ffc933;
}

/* line 567, ../sass/base.sass */
.subtext {
  margin-top: 20px;
  text-align: center;
  font-family: "Work Sans";
  color: white;
  font-size: 0.9em;
  display: block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 567, ../sass/base.sass */
  .subtext {
    font-size: 3vw;
  }
}
/* line 577, ../sass/base.sass */
.subtext a {
  text-decoration: none;
  color: #ffc933;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffc933;
  transition: all 0.2s ease-in-out;
}
/* line 583, ../sass/base.sass */
.subtext a:hover {
  color: white;
}
/* line 585, ../sass/base.sass */
.subtext a[data-email] {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 590, ../sass/base.sass */
.subtext a[data-email]:after {
  pointer-events: none;
  content: attr(data-email);
  position: absolute;
  top: 170%;
  right: 0;
  background: #c91818;
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
@media only screen and (max-width: 570px) {
  /* line 590, ../sass/base.sass */
  .subtext a[data-email]:after {
    display: none;
  }
}
/* line 607, ../sass/base.sass */
.subtext a[data-email]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 6px solid #c91818;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  left: 30%;
  top: 140%;
}
@media only screen and (max-width: 570px) {
  /* line 607, ../sass/base.sass */
  .subtext a[data-email]:before {
    display: none;
  }
}
/* line 623, ../sass/base.sass */
.subtext a[data-email]:hover:after {
  top: 140%;
}
/* line 627, ../sass/base.sass */
.subtext a[data-email]:hover:before {
  top: 110%;
}
/* line 631, ../sass/base.sass */
.subtext a[data-email]:hover:after {
  opacity: 1;
}
/* line 635, ../sass/base.sass */
.subtext a[data-email]:hover:before {
  opacity: 1;
}

/* line 638, ../sass/base.sass */
#faq {
  background-color: #d42323;
  position: relative;
}
/* line 642, ../sass/base.sass */
#faq .container {
  padding: 50px 0;
}
/* line 646, ../sass/base.sass */
#faq .container .subtext a[data-email]:after {
  color: #f43434;
  background-color: #ffc933;
}
/* line 649, ../sass/base.sass */
#faq .container .subtext a[data-email]:before {
  border-bottom-color: #ffc933;
}
/* line 651, ../sass/base.sass */
#faq .q-row {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
/* line 657, ../sass/base.sass */
#faq .q-row .q-block {
  height: 200px;
  width: 310px;
  margin: 20px;
  display: flex;
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media only screen and (max-width: 570px) {
  /* line 657, ../sass/base.sass */
  #faq .q-row .q-block {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #9b1010;
    border-bottom: 1px solid #c91818;
  }
  /* line 671, ../sass/base.sass */
  #faq .q-row .q-block:hover {
    background-color: darkred;
  }
}
/* line 673, ../sass/base.sass */
#faq .q-row .q-block .icon {
  float: left;
  position: relative;
  width: 36px;
  height: 36px;
  height: 100%;
  margin: 0 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 673, ../sass/base.sass */
  #faq .q-row .q-block .icon {
    height: auto;
  }
}
/* line 684, ../sass/base.sass */
#faq .q-row .q-block .icon img {
  height: 36px;
  display: inline;
  min-width: 36px;
  top: 0;
  left: -3;
  position: relative;
}
/* line 691, ../sass/base.sass */
#faq .q-row .q-block .q-text {
  display: inline-block;
}
@media only screen and (max-width: 570px) {
  /* line 691, ../sass/base.sass */
  #faq .q-row .q-block .q-text {
    margin: 0px auto;
  }
}
/* line 695, ../sass/base.sass */
#faq .q-row .q-block .q-text h1 {
  font-family: "Montserrat";
  color: white;
  font-size: 1.3em;
  padding-bottom: 5px;
  width: 280px;
}
@media only screen and (max-width: 570px) {
  /* line 695, ../sass/base.sass */
  #faq .q-row .q-block .q-text h1 {
    width: 100%;
  }
}
/* line 703, ../sass/base.sass */
#faq .q-row .q-block .q-text p {
  width: 280px;
  height: 100%;
  position: relative;
  color: white;
  font-family: "Work Sans";
  font-size: 1em;
  font-wieght: 400;
}
@media only screen and (max-width: 570px) {
  /* line 703, ../sass/base.sass */
  #faq .q-row .q-block .q-text p {
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 570px) {
  /* line 714, ../sass/base.sass */
  #faq .q-row .collapse {
    cursor: pointer;
    margin: 0 auto;
  }
}
/* line 718, ../sass/base.sass */
#faq .q-row .collapse .q-text {
  width: 80%;
}
/* line 720, ../sass/base.sass */
#faq .q-row .collapse .q-text p {
  display: block;
}
@media only screen and (max-width: 570px) {
  /* line 720, ../sass/base.sass */
  #faq .q-row .collapse .q-text p {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  /* line 724, ../sass/base.sass */
  #faq .q-row .collapse .q-text h1 {
    padding-bottom: 0px;
    height: auto;
    line-height: 36px;
  }
}

/* line 730, ../sass/base.sass */
#schedule {
  background-color: #d42323;
  position: relative;
}
/* line 734, ../sass/base.sass */
#schedule .container {
  padding: 45px;
}
@media only screen and (max-width: 570px) {
  /* line 734, ../sass/base.sass */
  #schedule .container {
    padding: 45px 0;
  }
}
/* line 739, ../sass/base.sass */
#schedule span p {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  color: white;
  font-family: "Work Sans";
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 739, ../sass/base.sass */
  #schedule span p {
    font-size: 6vw;
  }
}
/* line 749, ../sass/base.sass */
#schedule .dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding-bottom: 30px;
}
@media only screen and (max-width: 570px) {
  /* line 749, ../sass/base.sass */
  #schedule .dates {
    font-size: 3.5vw;
  }
}
/* line 757, ../sass/base.sass */
#schedule .dates h1 {
  margin: 0 0 20px;
  font-family: "Montserrat";
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
@media only screen and (max-width: 570px) {
  /* line 757, ../sass/base.sass */
  #schedule .dates h1 {
    text-align: center;
  }
}
/* line 765, ../sass/base.sass */
#schedule .dates .sat {
  margin-bottom: 20px;
  display: inline-block;
  width: 350px;
  margin: 20px;
}
/* line 770, ../sass/base.sass */
#schedule .dates .sun {
  display: inline-block;
  width: 350px;
  margin: 20px;
}
@media only screen and (max-width: 720px) {
  /* line 774, ../sass/base.sass */
  #schedule .dates .schedule-wrapper {
    width: 100%;
  }
}
/* line 777, ../sass/base.sass */
#schedule .dates .schedule-wrapper li {
  font-family: "Work Sans";
  list-style: none;
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 777, ../sass/base.sass */
  #schedule .dates .schedule-wrapper li {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }
}
/* line 787, ../sass/base.sass */
#schedule .dates .schedule-wrapper li span:first-child {
  display: inline-block;
  width: 120px;
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 787, ../sass/base.sass */
  #schedule .dates .schedule-wrapper li span:first-child {
    width: 100%;
  }
}
/* line 793, ../sass/base.sass */
#schedule .dates .schedule-wrapper li span:last-child {
  color: white;
}

/* line 796, ../sass/base.sass */
#sponsors {
  background-image: url("../assets/img/sponsors.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* line 803, ../sass/base.sass */
#sponsors h1 {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 32px;
  font-family: "Montserrat";
  color: #262626;
}
/* line 810, ../sass/base.sass */
#sponsors:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 214, 214, 0.9);
}
/* line 816, ../sass/base.sass */
#sponsors .container {
  position: relative;
  z-index: 2;
  padding: 45px;
  max-width: 800px;
}
/* line 821, ../sass/base.sass */
#sponsors .title {
  margin-bottom: 75px;
  color: #d42323;
  font-family: "Montserrat";
  text-align: center;
}
/* line 826, ../sass/base.sass */
#sponsors .title .one {
  font-size: 1em;
  display: block;
}
/* line 829, ../sass/base.sass */
#sponsors .title .two {
  font-size: 3.0625em;
  line-height: 1em;
}
@media only screen and (max-width: 570px) {
  /* line 829, ../sass/base.sass */
  #sponsors .title .two {
    text-align: center;
    font-size: 2.5em;
  }
}
/* line 835, ../sass/base.sass */
#sponsors .title img {
  margin: 0 0 0 10;
  width: 40px;
  translation: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 835, ../sass/base.sass */
  #sponsors .title img {
    width: 25px;
  }
}
/* line 841, ../sass/base.sass */
#sponsors .first {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 75px;
  transition: all 0.2s ease-in-out;
}
/* line 847, ../sass/base.sass */
#sponsors .first:hover {
  opacity: 0.7;
}
/* line 850, ../sass/base.sass */
#sponsors .second {
  text-align: center;
  padding-bottom: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 8px;
}
/* line 859, ../sass/base.sass */
#sponsors .second a {
  margin: 50px;
  min-height: 100px;
  width: 250px;
  display: flex;
  transition: all 0.2s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 868, ../sass/base.sass */
#sponsors .second a:hover {
  opacity: 0.7;
}
/* line 870, ../sass/base.sass */
#sponsors .second a img {
  width: 100%;
  height: 100%;
  max-height: 200px;
}
/* line 874, ../sass/base.sass */
#sponsors .third {
  margin-bottom: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 8px;
}
/* line 882, ../sass/base.sass */
#sponsors .third a {
  margin: 20px;
  min-height: 100px;
  width: 150px;
  display: flex;
  transition: all 0.2s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 891, ../sass/base.sass */
#sponsors .third a:hover {
  opacity: 0.7;
}
/* line 893, ../sass/base.sass */
#sponsors .third a img {
  width: 100%;
  height: 100%;
  max-height: 100px;
}
/* line 897, ../sass/base.sass */
#sponsors .subtext {
  color: #d42323;
  font-size: 20px;
  margin-bottom: 50px;
}
/* line 901, ../sass/base.sass */
#sponsors .subtext a {
  color: #d42323;
  border-bottom-color: #d42323;
  border-bottom-width: 3px;
}
/* line 905, ../sass/base.sass */
#sponsors .subtext a:hover {
  color: white;
}
/* line 908, ../sass/base.sass */
#sponsors .subtext a[data-email]:before {
  top: 150%;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
}
/* line 914, ../sass/base.sass */
#sponsors .subtext a[data-email]:after {
  top: 180%;
}
/* line 918, ../sass/base.sass */
#sponsors .subtext a[data-email]:hover:after {
  top: 150%;
}
/* line 922, ../sass/base.sass */
#sponsors .subtext a[data-email]:hover:before {
  top: 120%;
}
/* line 924, ../sass/base.sass */
#sponsors .partners {
  border-bottom: 0px;
  margin-bottom: 0px;
}

/* line 927, ../sass/base.sass */
#footer {
  height: 75px;
  background-color: #d42323;
}
/* line 930, ../sass/base.sass */
#footer span {
  position: absolute;
  height: 75px;
}
/* line 933, ../sass/base.sass */
#footer span a {
  float: left;
  position: relative;
  display: inline-block;
  height: 75px;
  width: 75px;
  transition: background-color 0.2s ease-in-out;
}
/* line 940, ../sass/base.sass */
#footer span a img {
  width: 75px;
  height: 75px;
}
/* line 943, ../sass/base.sass */
#footer span a:hover {
  background-color: #f43434;
}

/* line 945, ../sass/base.sass */
.banner {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px;
  position: relative;
}
/* line 952, ../sass/base.sass */
.banner:after {
  height: 270px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(216, 31, 31, 0.7);
}
/* line 960, ../sass/base.sass */
.banner .icon {
  display: block;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
/* line 966, ../sass/base.sass */
.banner .wrapper {
  width: 180px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}
/* line 971, ../sass/base.sass */
.banner h1 {
  position: relative;
  z-index: 10;
  color: white;
  font-family: "Montserrat";
  font-size: 2.0625em;
  text-align: center;
}
/* line 979, ../sass/base.sass */
.banner .schedule .icon {
  margin-top: 23px;
  margin-top: 23px;
  width: 85px;
  margin-bottom: 10px;
}
/* line 985, ../sass/base.sass */
.banner .faq .icon {
  width: 65px;
}

/* line 988, ../sass/base.sass */
::selection {
  background-color: #ffc933;
  color: #f43434;
}
