/* line 26, ../sass/sign-up.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/sign-up.sass */
html, body {
  background-color: #eaeaea;
  font-family: "Work Sans";
  font-size: 16px;
}

/* line 36, ../sass/sign-up.sass */
a {
  cursor: pointer;
}

/* line 38, ../sass/sign-up.sass */
#main {
  margin-top: 50px;
}

/* line 40, ../sass/sign-up.sass */
button {
  background: none;
  border: 0px;
}

/* line 43, ../sass/sign-up.sass */
textarea, input {
  border: 0px;
  padding-left: 20px;
  font-family: "Work Sans";
  outline: none;
}

/* line 48, ../sass/sign-up.sass */
line, nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 50, ../sass/sign-up.sass */
nav {
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #dd2626;
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
}
/* line 63, ../sass/sign-up.sass */
nav .logo {
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out;
  height: 75px;
  width: 150px;
}
@media only screen and (max-width: 720px) {
  /* line 63, ../sass/sign-up.sass */
  nav .logo {
    margin-left: 40%;
    opacity: 0;
    position: fixed;
  }
}
/* line 72, ../sass/sign-up.sass */
nav .logo img {
  margin: 0 auto;
  height: 106px;
  width: 160px;
}
/* line 76, ../sass/sign-up.sass */
nav .logo a {
  padding-top: 5px;
  position: absolute;
  height: 75px;
  transition: all 0.2s ease-in-out;
}
/* line 81, ../sass/sign-up.sass */
nav .logo a:hover {
  transform: scale(1.025);
}
/* line 83, ../sass/sign-up.sass */
nav .items {
  height: 75px;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 950px) {
  /* line 92, ../sass/sign-up.sass */
  nav .items .divide {
    left: 0;
    position: fixed;
    display: inline-block;
  }
}
@media only screen and (max-width: 720px) {
  /* line 97, ../sass/sign-up.sass */
  nav .items .divide {
    left: auto;
    position: relative;
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  /* line 83, ../sass/sign-up.sass */
  nav .items {
    width: 100%;
  }
}
/* line 103, ../sass/sign-up.sass */
nav .items li {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 103, ../sass/sign-up.sass */
  nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 109, ../sass/sign-up.sass */
nav .items li a {
  line-height: 74px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 109, ../sass/sign-up.sass */
  nav .items li a {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 123, ../sass/sign-up.sass */
nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(186, 29, 29, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/* line 127, ../sass/sign-up.sass */
.banner {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px;
  position: relative;
}
/* line 134, ../sass/sign-up.sass */
.banner:after {
  height: 270px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(216, 31, 31, 0.7);
}
/* line 142, ../sass/sign-up.sass */
.banner .icon {
  display: block;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
/* line 148, ../sass/sign-up.sass */
.banner .wrapper {
  width: 100%;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}
/* line 153, ../sass/sign-up.sass */
.banner h1 {
  position: relative;
  z-index: 10;
  color: white;
  font-family: "Montserrat";
  font-size: 2.5em;
  text-align: center;
  padding-top: 70px;
}
@media only screen and (max-width: 570px) {
  /* line 153, ../sass/sign-up.sass */
  .banner h1 {
    transition: padding-top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    padding-top: 70px;
    font-size: 2em;
  }
}

/* line 166, ../sass/sign-up.sass */
.red-fill {
  background-color: rgba(181, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  min-height: 680px;
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 174, ../sass/sign-up.sass */
#active-area {
  height: 100%;
  padding: 50px 10px;
}
/* line 177, ../sass/sign-up.sass */
#active-area a {
  color: #dd2626;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #dd2626;
  transition: color 0.2s ease-in-out;
}
/* line 183, ../sass/sign-up.sass */
#active-area a:hover {
  color: #a51717;
}

/* line 185, ../sass/sign-up.sass */
.inpt {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  background-color: #d3d3d3;
  color: #f43434;
}

/* line 193, ../sass/sign-up.sass */
.input-wrapper {
  height: 45px;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 45px auto;
  position: relative;
}
/* line 200, ../sass/sign-up.sass */
.input-wrapper::after {
  content: attr(label);
  height: 20px;
  width: 100%;
  position: absolute;
  color: #f43434;
  font-size: 14px;
  font-family: "Work Sans";
  top: -24px;
  left: 0;
}

/* line 210, ../sass/sign-up.sass */
.btn-wrapper {
  margin: 30px auto;
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
}
/* line 217, ../sass/sign-up.sass */
.btn-wrapper::after {
  content: attr(label);
  height: 20px;
  width: 100px;
  position: absolute;
  color: #f43434;
  font-size: 14px;
  font-family: "Work Sans";
  text-align: left;
  top: -24px;
  left: 0;
}

/* line 228, ../sass/sign-up.sass */
.btn-ru {
  margin: 40px auto;
  position: relative;
  display: block;
  width: 100%;
  max-width: 250px;
  height: 45px;
  border-radius: 8px;
  color: white;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: #dd2626;
  font-size: 16px;
  font-family: "Work Sans";
  border: 3px solid #dd2626;
  cursor: pointer;
}
/* line 243, ../sass/sign-up.sass */
.btn-ru:hover {
  color: #dd2626;
  background-color: rgba(181, 22, 22, 0);
}

/* line 246, ../sass/sign-up.sass */
.small {
  width: 100px;
  height: 30px;
  font-size: 12px;
  left: 0;
  float: left;
  position: relative;
}

/* line 253, ../sass/sign-up.sass */
input {
  border-radius: 8px;
  border: 0px solid #BFBFBF;
  transition: border 0.2s ease-in-out;
}
/* line 257, ../sass/sign-up.sass */
input:focus {
  border: 3px solid #BFBFBF;
}

/* line 259, ../sass/sign-up.sass */
p {
  line-height: 1.5em;
  font-size: 0.9em;
  color: #dd2626;
  font-family: "Work Sans";
  text-align: center;
  padding-bottom: 40px;
}

/* line 266, ../sass/sign-up.sass */
h1 {
  text-align: center;
  font-size: 1.7em;
  font-family: "Montserrat";
  padding-bottom: 40px;
  color: #dd2626;
}

/* line 272, ../sass/sign-up.sass */
.main-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 570px) {
  /* line 272, ../sass/sign-up.sass */
  .main-container {
    width: 100%;
    max-wdith: 100%;
  }
}

/* line 279, ../sass/sign-up.sass */
.green {
  background-color: #1e9e3a;
  border-color: #1e9e3a;
}
/* line 282, ../sass/sign-up.sass */
.green:hover {
  background-color: rgba(30, 158, 58, 0);
  color: #1e9e3a;
}

/* line 285, ../sass/sign-up.sass */
.check-wrapper {
  width: 100%;
}

/* line 287, ../sass/sign-up.sass */
input[type="checkbox"] {
  visibility: hidden;
}

/* line 289, ../sass/sign-up.sass */
.resume {
  position: relative;
}
/* line 291, ../sass/sign-up.sass */
.resume span {
  width: 94px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  position: absolute;
}

/* line 297, ../sass/sign-up.sass */
.input-file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 304, ../sass/sign-up.sass */
.checkbox {
  margin: 0 auto;
  width: 460px;
  height: auto;
  padding-left: 20px;
  display: inline-block;
  text-align: left;
}
@media only screen and (max-width: 570px) {
  /* line 304, ../sass/sign-up.sass */
  .checkbox {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/* line 315, ../sass/sign-up.sass */
.squaredThree {
  width: 20px;
  top: -12px;
  margin: 0px auto;
  position: relative;
  display: inline-block;
  left: -10px;
}
@media only screen and (max-width: 570px) {
  /* line 315, ../sass/sign-up.sass */
  .squaredThree {
    display: block;
  }
}

/* line 324, ../sass/sign-up.sass */
.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  background-color: #d3d3d3;
  border-radius: 4px;
  border: 3px solid #BFBFBF;
  transition: border-color 0.2s ease-in-out;
  max-width: initial;
}

/* line 335, ../sass/sign-up.sass */
.squaredThree label:hover {
  border: 3px solid #9d9d9d;
}

/* line 338, ../sass/sign-up.sass */
.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #dd2626;
  border-top: none;
  border-right: none;
  box-sizing: initial;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: opacity 0.2s ease-in-out;
}

/* line 362, ../sass/sign-up.sass */
.squaredThree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 367, ../sass/sign-up.sass */
.squaredThree input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  border-color: 3px solid #898989;
}

/* line 373, ../sass/sign-up.sass */
img {
  height: 75px;
  display: block;
  margin: 20px auto;
}

/* line 377, ../sass/sign-up.sass */
::selection {
  background-color: #ffc933;
  color: #f43434;
}

/* line 380, ../sass/sign-up.sass */
.subtext {
  text-align: center;
  font-family: "Work Sans";
  font-size: 0.9em;
  display: block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 380, ../sass/sign-up.sass */
  .subtext {
    font-size: 3vw;
  }
}
/* line 388, ../sass/sign-up.sass */
.subtext a {
  text-decoration: none;
  color: #dd2626;
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
  cursor: help;
}
/* line 394, ../sass/sign-up.sass */
.subtext a:hover {
  color: white;
}
/* line 396, ../sass/sign-up.sass */
.subtext a[data-hover] {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 401, ../sass/sign-up.sass */
.subtext a[data-hover]:after {
  width: 300px;
  pointer-events: none;
  content: attr(data-hover);
  position: absolute;
  top: 170%;
  right: -50%;
  background: #dd2626;
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
/* line 416, ../sass/sign-up.sass */
.subtext a[data-hover]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 6px solid #dd2626;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  left: 50%;
  top: 150%;
}
/* line 430, ../sass/sign-up.sass */
.subtext a[data-hover]:hover:after {
  top: 140%;
}
/* line 434, ../sass/sign-up.sass */
.subtext a[data-hover]:hover:before {
  top: 120%;
}
/* line 438, ../sass/sign-up.sass */
.subtext a[data-hover]:hover:after {
  opacity: 1;
}
/* line 442, ../sass/sign-up.sass */
.subtext a[data-hover]:hover:before {
  opacity: 1;
}

/* line 444, ../sass/sign-up.sass */
.buttonText, .glyphicon, .btn-default {
  transition: all 0.2s ease-in-out;
  color: #dd2626;
}

/* line 447, ../sass/sign-up.sass */
.btn-default {
  background-color: #eaeaea;
}

/* line 449, ../sass/sign-up.sass */
.form-control, .form-control[disabled] {
  background-color: white;
}

/* line 451, ../sass/sign-up.sass */
h1 {
  margin: 0;
}

/* line 453, ../sass/sign-up.sass */
.fine-print {
  padding-top: 4px;
  font-size: 10px;
  text-align: left;
  color: #898989;
  font-style: italic;
}
