<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
<!-- LOGGED IN NAVBAR -->
<% include ./partials/li-nav.ejs %>
<!-- END LOGGED IN NAVBAR -->

<div class="container-fluid">


    <!-- CONTENT SECTION -->
    <div class="row min-full-height">
        <div class="col-10 offset-1">

            <div class="row li-section-title-box">
                <div class="col-12">
                    <h2 class="li-section-title">Dashboard</h2>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                    <h2 class="bold-text">Hello <%= user.mlh_data.first_name %>!</h2>

                    <% if(user.registration_status == 0) { %>
                    <h3 class="mb-3">Application Status: <span class="bold-text">Incomplete</span></h3>
                    <h5>Seems like you haven't started your application yet.</h5>

                    <p>
                        Please visit the <a href="/registration">application page</a> to complete and submit your application!
                    </p>

                    <% } else if(user.registration_status == 1) { %>
                    <h3>Application Status: <span class="bold-text">Accepted (Unconfirmed)</span></h3>
                    <br>
                    <h5>Let us know if you can make it to HackRU by confirming below!</h5>

                    <% } else if(user.registration_status == 2) { %>
                    <h3>Application Status: <span class="bold-text">Accepted (Not attending)</span></h3>
                    <br>
                    <h5>You've told us that you will not be attending. We hope to see you next time!</h5>


                    <% } else if(user.registration_status == 3) { %>
                    <h3>Application Status: <span class="bold-text">Accepted (Attending)</span></h3>
                    <br>
                    <h5>You've confirmed that you'll be attending. Can't wait to see you at HackRU!</h5>


                    <% } else if(user.registration_status == 4 ) { %>
                    <h3>Application Status: <span class="bold-text">Waitlisted</span></h3>
                    <br>
                    <h5>Hackers who have been waitlisted are invited to come to HackRU, but will be admitted on a first-come, first-serve basis. When other accepted hackers do not show up after 11am, you are invited to take their spot and granted entry into HackRU.</h5>

                    <% } else if(user.registration_status == 7 || user.registration_status == 8) { %>
                    <h3 class="mb-3">Application Status: <span class="bold-text">Pending</span></h3>
                    <h5>Visit the <a href="/registration">application page</a> to edit your application.</h5>
                    <p>
                        We've received your application and are working hard to read through all of them. You will
                        receive an email soon about the status of your application. In the meantime, why don't you like
                        us on <a href="https://www.facebook.com/theHackRU">Facebook</a> and visit our other social media?
                    </p>

                    <% } else if(user.registration_status == 6 ) { %>
                    <h3>Application Status: <span class="bold-text">Rejected</span></h3>
                    <br>
                    <h5>Sorry - better luck next time!</h5>
                    <% } %>


                    <% if(1 == user.registration_status || user.registration_status == 3) { %>
                    <br>

                    <form action="/confirm-status" class="form-horizontal" method="post">

                        <div class="btn-group mr-3" data-toggle="buttons">

                            <label id="attending-label" class="btn-attend btn btn-primary <% if (user.registration_status == 3) { %>active<% } %>">
                                <input type="radio" name="attendance" id="attending" autocomplete="off" value="attending" <% if (user.registration_status >= 3) { %>checked<% } %>>
                                <i class="fa fa-smile-o" aria-hidden="true"></i> Attending
                            </label>

                            <label id="not-attending-label" class="btn-attend btn btn-primary <% if (user.registration_status == 2) { %>active<% } %>">
                                <input type="radio" name="attendance" id="not-attending" autocomplete="off" value="not-attending" <% if (user.registration_status >= 3) { %>checked<% } %>>
                                <i class="fa fa-frown-o" aria-hidden="true"></i> Not Attending
                            </label>

                        </div>

                        <input class="btn btn-default content-button" type="submit" value="Save">

                    </form>

                    <% } %>
                </div>

                <div class="col-12 col-lg-5 offset-lg-1 more-info">
                    <% include ./partials/li-more-info.ejs %>
                </div>


            </div>
        </div>
    </div>
    <!-- END OF CONTENT SECTION -->


    <!-- FOOTER SECTION -->
    <% include ./partials/li-footer.ejs %>
    <!-- END FOOTER SECTION -->

</div>
</body>
</html>
