<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <script src="./js/custom.js"></script>
</head>

<body>
<div class="container-fluid">

<% include ./partials/li-nav.ejs %>

    <div class="row subpage-section" id="dashboard">
        <div class="col-12">
            <div class="row subpage-content text-center">
                <div class="col-xs-10 col-sm-5">
                    <h3>Something Happened!</h3>
                    <a href="/dashboard" class="btn btn-default content-button">Back to Dashboard</a>
                    <a href="/" class="btn btn-default content-button">Back to Home</a>
                </div>
            </div>

        </div>
    </div>

    <!-- FOOTER SECTION -->
    <% include ./partials/li-footer.ejs %>

</div>
</body>

</html>
