<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
<% include ./partials/mlh.ejs %>
<div class="container-fluid">

    <!-- HERO SECTION -->
    <div class="row min-full-height"
         id="hero">
        <div class="col-12">


            <% include ./partials/nav.ejs %>


            <div class="row mt-sm-5">

                <div class="col-12 col-md-6 offset-md-1 col-xl-4 offset-xl-2 text-center-xs">
                    <div class="row mt-5">
                        <div class="col-12 hidden-xs-down">
                            <h1 class="season-text bold-text">HackRU Fall 2017</h1>
                            <h2 class="season-date">October 14th-15th, 2017</h2>
                            <br>
                            <h5 class="season-location bold-text">College Ave Student Center</h5>
                            <h5 class="season-location bold-text">Rutgers University</h5>
                        </div>

                        <div class="col-12 hidden-sm-up">
                            <h3 class="season-text bold-text">HackRU Fall 2017</h3>
                            <h5 class="season-date">October 14th-15th, 2017</h5>
                            <br>
                            <h6 class="season-location bold-text">College Ave Student Center</h6>
                            <h6 class="season-location bold-text">Rutgers University</h6>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">

                            <% if (user) { %>

                            <a href="/dashboard" class="btn btn-outline-primary">Dashboard</a>
                            <a href="/logout" class="btn btn-outline-primary ml-3">Logout</a>

                            <% } else { %>

                            <a href="/authenticate" class="btn btn-outline-primary">Login or Register</a>

                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="hidden-sm-down col-md-4 col-xl-4 text-center">
                    <img id="hero-img" src="./assets/icons/Duo-Stamp-White.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- END OF HERO SECTION -->


    <!-- ******************************************************************** -->


    <!-- ABOUT US SECTION -->
    <div class="row min-full-height theme-purple">
        <div class="col-10 offset-1">
            <div class="row row-title-box">
                <div class="col-12">
                    <h2 class="row-title" id="about-us">About Us</h2>
                </div>
            </div>

            <div class="row row-content-box">
                <div class="col-12 mb-3">
                    <h3 class="bold-text"><i class="fa fa-question-circle theme-purple hidden-xs-down"
                                             aria-hidden="true">&nbsp;</i>Who and What?</h3>
                    <p>
                        HackRU is a 24-hour hackathon at Rutgers University. We welcome hundreds of students to join us
                        in building awesome software and hardware projects. Industry experts and mentors come from all
                        over the country to create an environment that fosters an atmosphere of learning through tech
                        talks and one-on-one guidance. We encourage beginner and advanced hackers alike to challenge
                        themselves and expand their skills. Learn more about HackRU by reading our articles on
                        <a href="https://medium.com/the-hackru"
                           target="_blank">Medium!</a>
                    </p>
                </div>

                <div class="col-4 col-md-2 offset-0 offset-md-1 text-center">
                    <!--<img class="about-icon mb-2" src="./assets/bg-splash.jpg" alt="">-->
                    <h1><i class="fa fa-mobile theme-red"
                           aria-hidden="true"></i></h1>
                    <p class="about-icon-desc text-uppercase bold-text">Mobile Dev</p>
                </div>
                <div class="col-4 col-md-2 text-center">
                    <!--<img class="about-icon mb-2" src="./assets/bg-splash.jpg" alt="">-->
                    <h1><i class="fa fa-mouse-pointer theme-red"
                           aria-hidden="true"></i></h1>
                    <p class="about-icon-desc text-uppercase bold-text">Web Dev</p>
                </div>
                <div class="col-4 col-md-2 text-center">
                    <!--<img class="about-icon mb-2" src="./assets/bg-splash.jpg" alt="">-->
                    <h1><i class="fa fa-paint-brush theme-red"
                           aria-hidden="true"></i></h1>
                    <p class="about-icon-desc text-uppercase bold-text">Design</p>
                </div>
                <div class="col-4 offset-2 offset-md-0 col-md-2 text-center">
                    <!--<img class="about-icon mb-2" src="./assets/bg-splash.jpg" alt="">-->
                    <h1><i class="fa fa-gamepad theme-red"
                           aria-hidden="true"></i></h1>
                    <p class="about-icon-desc text-uppercase bold-text">Game Dev</p>
                </div>
                <div class="col-4 col-md-2 text-center">
                    <!--<img class="about-icon mb-2" src="./assets/bg-splash.jpg" alt="">-->
                    <h1><i class="fa fa-microchip theme-red"
                           aria-hidden="true"></i></h1>
                    <p class="about-icon-desc text-uppercase bold-text">Hardware</p>
                </div>


                <div class="col-12 mt-3">
                    <h3 class="bold-text"><i class="fa fa-globe theme-purple hidden-xs-down"
                                             aria-hidden="true">&nbsp;</i>When and Where?</h3>
                    <p>
                        HackRU is from October 14th to 15th, 2017 at the College Ave Student Center in New Brunswick,
                        NJ. The College Ave Student Center is located at <strong>126 College Ave, New Brunswick, NJ
                            08901.</strong>
                    </p>
                </div>

                <div class="col-10 offset-1 mt-5 about-map-container">
                    <iframe class="about-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.8805467681675!2d-74.45265422104657!3d40.5026657080946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c6555ac2d7f7%3A0x8820e7c83ea74250!2sCollege+Avenue+Student+Center!5e0!3m2!1sen!2sus!4v1502828160852"
                            width="100%"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ABOUT US SECTION -->


    <!-- ******************************************************************** -->


    <!-- SCHEDULE SECTION -->
    <div class="row min-half-height text-white bg-gradient skew">
        <div class="col-10 offset-1 unskew">
            <div class="row row-title-box">
                <div class="col-12">
                    <h2 class="row-title" id="schedule">Schedule</h2>
                </div>
            </div>

            <div class="row row-content-box">
                <div class="col-12 col-lg-6 text-center">
                    <h3 class="bold-text mb-5 gold">😁 Saturday</h3>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">10:00AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Check-In</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">11:00AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Lunch</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">11:30AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Opening Ceremonies</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">01:00PM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Hacking Begins</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">05:30PM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Dinner</span></div>
                    </div>

                </div>



                <div class="col-12 mt-5 mt-lg-0 col-lg-6 text-center">
                    <h3 class="bold-text mb-5 gold">😎 Sunday</h3>



                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">12:00AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Midnight Surprise</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">02:00AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Midnight Snack</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">07:30AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Breakfast</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">11:30AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Hacking Ends</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">11:30AM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Lunch</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">12:00PM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Demos Begin</span></div>
                    </div>

                    <div class="row sched-event">
                        <div class="col-12 col-sm-6 text-center-xs text-right-not-xs"><span class="sched-time">03:00PM</span></div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 text-center-xs text-left-not-xs"><span class="sched-desc">Closing Ceremonies</span></div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- END OF SCHEDULE SECTION -->


    <!-- ******************************************************************** -->

    <!-- SPONSOR SECTION -->
    <div class="row min-half-height theme-red">
        <div class="col-10 offset-1">
            <div class="row row-title-box">
                <div class="col-12">
                    <h2 class="row-title" id="sponsors">Sponsors</h2>
                </div>
            </div>

            <div class="row row-content-box">
                <div class="col-12">



                    <h4 class="spons-level my-5 plat">Platinum</h4>

                    <div class="row text-center">
                        <div class="col-12 col-md-10 offset-md-1">
                            <img class="splogo" src="./assets/splogos/plat/rbc.png" alt="RBC Capital Markets">
                            <h6 class="splogo-text">RBC Capital Markets</h6>
                        </div>
                    </div>

                    <h4 class="spons-level my-5 gold">Gold</h4>

                    <div class="row text-center">
                        <div class="col-10 offset-1 col-md-5 offset-md-1">
                            <img class="splogo" src="./assets/splogos/gold/bny.png" alt="BNY Mellon">
                            <h6 class="splogo-text">BNY Mellon</h6>
                        </div>
                        <div class="col-10 offset-1 col-md-5 offset-md-0">
                            <img class="splogo" src="./assets/splogos/gold/vitech.png" alt="Vitech">
                            <h6 class="splogo-text">Vitech</h6>
                        </div>
                    </div>

                    <h4 class="spons-level my-5 silver">Silver</h4>

                    <div class="row text-center">
                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/bloomberg.png" alt="Bloomberg">
                            <h6 class="splogo-text">Bloomberg</h6>
                        </div>
                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/verizon.png" alt="Verizon">
                            <h6 class="splogo-text">Verizon</h6>
                        </div>
                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/capital-one.png" alt="Capital One">
                            <h6 class="splogo-text">Capital One</h6>
                        </div>
                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/mongodb.png" alt="MongoDB">
                            <h6 class="splogo-text">MongoDB</h6>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col hidden-sm-down"></div>

                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/citi.png" alt="Citi">
                            <h6 class="splogo-text">Citi</h6>
                        </div>

                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/namecheap.png" alt="Namecheap">
                            <h6 class="splogo-text">Namecheap</h6>
                        </div>

                        <div class="col-md-3 col-8 offset-2 offset-md-0">
                            <img class="splogo" src="./assets/splogos/silver/icims.png" alt="iCIMS">
                            <h6 class="splogo-text">iCIMS</h6>
                        </div>

                        <div class="col hidden-sm-down"></div>
                    </div>


                    <h4 class="spons-level my-5 bronze">Bronze</h4>

                    <div class="row text-center">
                        <div class="col-6 col-md-2 offset-md-1">
                            <img class="splogo" src="./assets/splogos/bronze/chartbeat.png" alt="Chartbeat">
                            <h6 class="splogo-text">Chartbeat</h6>
                        </div>
                        <div class="col-6 col-md-2">
                            <img class="splogo" src="./assets/splogos/bronze/merck.png" alt="Merck">
                            <h6 class="splogo-text">Merck</h6>
                        </div>
                        <div class="col-6 col-md-2">
                            <img class="splogo" src="./assets/splogos/bronze/prudential.png" alt="Prudential">
                            <h6 class="splogo-text">Prudential</h6>
                        </div>
                        <div class="col-6 col-md-2">
                            <img class="splogo" src="./assets/splogos/bronze/twilio.png" alt="Twilio">
                            <h6 class="splogo-text">Twilio</h6>
                        </div>
                        <div class="col-6 col-md-2 offset-3 offset-md-0">
                            <img class="splogo" src="./assets/splogos/bronze/knowledgent.png" alt="Knowledgent">
                            <h6 class="splogo-text">Knowledgent</h6>
                        </div>
                    </div>

                    <p class="mt-5 text-center">
                        Looking to sponsor us?
                        <br>
                        Visit <a class="theme-red" href="http://sponsorship.hackru.org">sponsorship.hackru.org</a> or email us at sponsorship@hackru.org!
                        <%# Email us at sponsorship@hackru.org! %>
                    </p>


                </div>
            </div>
        </div>
    </div>

    <!-- END OF SPONSOR SECTION -->

    <!-- ******************************************************************** -->

    <!-- FAQ SECTION -->
    <div class="row min-full-height text-white bg-gradient skew mb-5">
        <div class="col-10 offset-1 unskew">
            <div class="row row-title-box">
                <div class="col-12">
                    <h2 class="row-title" id="faqs">FAQs</h2>
                </div>
            </div>

            <div class="row row-content-box">
                <div class="col-12 col-xl-6">

                    <h3 class="faq-q">What is HackRU?</h3>
                    <p class="faq-a">
                        HackRU is a 24-hour hackathon at Rutgers University. We welcome hundreds of
                        students to join us in building awesome software and hardware projects. Industry experts and
                        mentors come from all over the country to create an environment that fosters an atmosphere of
                        learning through tech talks and one-on-one guidance. We encourage beginner and advanced hackers
                        alike to challenge themselves and expand their skills.
                    </p>

                    <h3 class="faq-q">What should I bring?</h3>
                    <p class="faq-a">
                        Yourself, your ingenuity, hacking gear (laptop, laptop charger, monitor, hardware),
                        photo ID, toiletries, sleeping gear, a change of clothes.
                    </p>

                    <h3 class="faq-q">What's the application process like?</h3>
                    <p class="faq-a">
                        The application is simply and consists of few questions, including a short answer
                        question so we can get to know you a little better. Decisions are on a
                        rolling basis, so make sure to register early!
                    </p>

                    <h3 class="faq-q">Travel reimbursements?</h3>
                    <p class="faq-a">
                        Unfortunately, due to university regulations, HackRU is unable to issue travel
                        reimbursements or buses. ☹
                    </p>

                    <h3 class="faq-q">Can I win anything?</h3>
                    <p class="faq-a">
                        Yes! We'll release more information about prizes as the event draws near.
                    </p>

                    <h3 class="faq-q">Do you have any hardware?</h3>
                    <p class="faq-a">
                        Hardware will be provided by the MLH Hardware labs and a full list of available
                        hardware will be released during the week of the event.
                    </p>

                </div>

                <div class="col-12 col-xl-6">

                    <h3 class="faq-q">Who can come?</h3>
                    <p class="faq-a">
                        HackRU welcomes undergraduate and graduate students of all majors, backgrounds, and
                        skill levels to come create. Unfortunately, if you are not a Rutgers student and you are under
                        18, you will not be able to attend. High school students who will be 18 by HackRU are allowed to
                        register.
                    </p>

                    <h3 class="faq-q">I'm new, what should I do?</h3>
                    <p class="faq-a">
                        That's great! We'd love to have you at HackRU. Throughout the weekend there will be
                        workshops for you to get your feet wet, project ideas for you to try out, and mentors to guide
                        you through the process.
                    </p>

                    <h3 class="faq-q">How much does it cost to attend?</h3>
                    <p class="faq-a">
                        Like the best things in life, HackRU is completely free to attend! We will be
                        providing meals, snacks, and drinks for the entire event along with swag on swag on swag.
                    </p>

                    <h3 class="faq-q">Can I work with others?</h3>
                    <p class="faq-a">
                        Hackers can (and are encouraged to) work in teams of up to 4 humans max. The knowledge
                        you gain from teammates is invaluable, along with the opportunity to build lifetime friendships
                        - you might leave with a new best friend! We will be having a team-building exercise after
                        opening ceremonies for people who are looking for teammates.
                    </p>

                    <h3 class="faq-q">What shouldn't I bring?</h3>
                    <p class="faq-a">
                        Weapons (or anything that can be construed as a weapon), alcohol, illegal drugs,
                        and/or animals. Use your common sense - if you wouldn't bring it on a plane or to school, don't
                        bring it here.
                    </p>



                </div>
            </div>
        </div>
    </div>
    <!-- END OF FAQ SECTION -->

    <!-- ******************************************************************** -->

    <!-- FOOTER SECTION -->
    <% include ./partials/footer.ejs %>
    <!-- END FOOTER SECTION -->

</div>
</body>
</html>

                              
