<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
<div class="container-fluid">
    <div class="row full-height" id="hero">
        <div class="col-12">

            <!-- The navbar is contained within a row with id="nav-bar" -->
            <% include ./partials/nav.ejs %>


            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="season-text">Fall 2017</h1>
                            <h2 class="season-location">Something here about location.</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">button here</div>
                        <div class="col-6">button here</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h1>HackRU description</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda consequatur dicta est inventore labore! Accusantium ad et excepturi repudiandae voluptates! Nemo, quisquam tempore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="row full-height">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequuntur cum debitis dolor facere fugiat hic illum, incidunt ipsa ipsam iste molestiae pariatur quam quos rem unde velit. Ad alias architecto asperiores aspernatur at blanditiis consequuntur cum cupiditate dicta dolores dolorum eligendi facilis fuga fugiat in inventore libero molestiae non nostrum numquam odit, officiis placeat possimus quidem rem sint sit soluta tenetur totam veniam veritatis vero voluptas voluptates. Atque dicta ducimus ea eos in ipsam molestiae mollitia sed. A ab deleniti deserunt dolores magnam, reprehenderit similique vel. Accusamus accusantium aspernatur at deleniti dolor hic itaque minus nisi nulla perferendis.</div>
</div>

</body>
</html>

