<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <script src="./js/custom.js"></script>
</head>

<body>
<!-- LOGGED IN NAVBAR -->
<% include ./partials/li-nav.ejs %>

<div class="container-fluid">


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="row subpage-section" id="manage-confirmation">
        <div class="col-xs-12">

            <div class="row min-full-height">
                <div class="col-10 offset-1">

                    <% if(user.registration_status == 1) { %>
                    <h3>Currently: Registered </h3>
                    <p>Being Registered doesn't mean you can attend. The next step is Confirming Your Attendance. We'll be emailing instructions on how to do that soon! Stay tuned!</p>
                    <% } else if(user.registration_status == 2) { %>
                    <h3>Currently: Not Attending </h3>
                    <% } else if(user.registration_status == 3) { %>
                    <h3>Currently: Attending!</h3>
                    <% } else if(user.registration_status == 4 ) { %>
                    <h3>Currently: Waitlisted </h3>
                    <% } %>
                    <h3>Let us know if you can make it to HackRU!</h3>

                    <form action="/confirm-status" class="form-horizontal" method="post">

                        <div class="btn-group" data-toggle="buttons" id="attendance-select">

                            <% if (user.registration_status >= 3) { %>

                            <label class="btn btn-primary active" id="attending-label">
                                <input type="radio" name="attendance" id="attending" autocomplete="off"
                                       value="attending" checked>
                                <h1><i class="fa fa-smile-o" aria-hidden="true"></i> Attending</h1>
                            </label>

                            <label class="btn btn-primary" id="not-attending-label">
                                <input type="radio" name="attendance" id="not-attending" autocomplete="off"
                                       value="not-attending">
                                <h1><i class="fa fa-frown-o" aria-hidden="true"></i> Not Going</h1>
                            </label>

                            <% } else if (user.registration_status < 3) { %>

                            <label class="btn btn-primary" id="attending-label">
                                <input type="radio" name="attendance" id="attending" autocomplete="off"
                                       value="attending">
                                <h1><i class="fa fa-smile-o" aria-hidden="true"></i> Attending</h1>
                            </label>

                            <label class="btn btn-primary active" id="not-attending-label">
                                <input type="radio" name="attendance" id="not-attending" autocomplete="off"
                                       value="not-attending" checked>
                                <h1><i class="fa fa-frown-o" aria-hidden="true"></i> Not Going</h1>
                            </label>

                            <% } %>

                        </div>

                        <!-- <p class="bg-danger">DEV: DONT REMOVE THIS UNTIL BUTTON ACTIONS/FORM ACTIONS ARE FINALIZED</p> -->
                        <input class="btn btn-default content-button" type="submit" value="Save">
                        <a href="/dashboard" class="btn btn-default content-button">Dashboard</a>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER SECTION -->
    <% include ./partials/li-footer.ejs %>

</div>
</body>

</html>
