<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
<!-- LOGGED IN NAVBAR -->
<% include ./partials/li-nav.ejs %>
<!-- END LOGGED IN NAVBAR -->

<div class="container-fluid">

    <!-- CONTENT SECTION -->
    <div class="row min-full-height">
        <div class="col-10 offset-1">

            <div class="row li-section-title-box">
                <div class="col-12">
                    <h2 class="li-section-title">Application</h2>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                    <% include ./partials/li-application-form.ejs %>
                </div>

                <div class="col-12 col-lg-5 offset-lg-1 more-info">
                    <%if (message && message != '') { %>
                    <div class="mb-5 message"><%= message %></div>
                    <%}%>
                    <% include ./partials/li-more-info.ejs %>

                </div>

            </div>
        </div>
    </div>
    <!-- END OF CONTENT SECTION -->


    <!-- FOOTER SECTION -->
    <% include ./partials/li-footer.ejs %>
    <!-- END FOOTER SECTION -->

</div>
</body>
</html>
