:root {
    --color-one: #23A9E1;
    --color-two: #1F4AB5;
}


/* - - - - - - - - FONTS - - - - - - - - */
@font-face {
    font-family: Circular;
    font-weight: bold;
    src: local("Circular"), url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: Circular;
    font-weight: normal;
    src: local("Circular"), url("../fonts/CircularStd-Book.otf") format("opentype");
}



/* - - - - - - - - FONTS - - - - - - - - */

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: 'Circular', sans-serif;
}

.font-modal {
  color: #000;
}

a {
  color: var(--color-one);
  text-decoration: underline;
  transition: all 0.5s;
}

a:hover, a:focus, a:active {
  color:  #a9e3f9;
}

#main-header-logo {
    height: 250px;
}

.main-header-text {
    font-weight: bold;
}

.content-header-text {
    font-weight: bold;
    padding-bottom: 25px;
    margin: 0px;
}

.content-box {
    padding-top: 50px;
    padding-bottom: 25px;
}

.image-divider {
    height: 115px;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
}

.image-divider:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom-btn {
    background-color: var(--color-two) !important;
    border: 2px  solid var(--color-one) !important;
}

.custom-btn:hover {
    background-color: var(--color-one) !important;
    border: 2px  solid var(--color-one) !important;
}

.content-question {
    margin-bottom: 30px;
}

.content-desc-q, .sched-col-day {
    color: var(--color-one);
    font-weight: bold;
    margin-bottom: 20px;
}

.sched-event-time {
    text-align: right;
}

.sched-event-desc {
    text-align: left;
}

.u-highlight {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.sched-col-day span {
    border: 1px white dotted;
    border-radius: 10px;
    padding: 15px;
}

.u-highlight:after {
    content: '';
    position: absolute;
    top: 60%;
    left: 15%;
    height: 35%;
    width: 100%;
    background: var(--color-one);
    z-index: -1;
}

.custom-link:hover {
    color:white;
    text-decoration: none;
}

.overlay-design {
    position: fixed;
    height: 300px;
    z-index: -100;
    opacity: 0.4;
}


body {
    width: 100%;
    z-index: -1;
    background-color: #e9ecef;
    opacity: 0.9;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
}



body {
    background-color: #2c4ea0;
    background-image: url("../img/dark-bg.jpg") !important;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 767.98px) {
  body{
    background-image: url("../img/dark-bg.jpg") !important;
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll; /* To fix image not showing up on mobile */
  }
}


.white-link a {
  color: #FFFFFF;
  transition: all 0.5s;
  text-decoration: none;
}


.white-link:hover a {
  color:  #a9e3f9;
}

.footer-img {
  max-width: 105px;
}

.card {
  background-color:rgba(0, 200, 186,0.9);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table {
  font-size: 18px;
}

.form-text {
  color: #fff;
  text-transform: uppercase;
}

.smaller-font {
  font-size: 1m;
}

.textminheightclass {
  min-height: 200px;
}

tbody {
    display:block;
    height:80vh;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
@media (min-width: 768px) {
}
.splogos {
    padding: 20px;
    width: 100%;
}
.logo-level {
	color: var(--color-two);
  text-transform: uppercase;
  font-weight: bold;
}

#sponsors-logos {
	padding-top: 50px;
}

#sponsors-logos-row {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);

}
