@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

body::-webkit-scrollbar { 
    display: none; 
}

::selection {
    background-color: rgba(255, 255, 255, 0.25);
}

.forcestyle div[class^="css-"] {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
    border: 0;
    color: white;
}

.forcestyle div[id^="react-select-"] {
    background: rgba(255, 255, 255, 0.75);
    color: black;
}

::placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

a:link {
    color: rgba(38, 232, 184, 1);
    transition: color 0.5s ease;
}

a:link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgba(38, 232, 184, 1);
}

a:visited:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(90, 122, 150, 1) !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Circular Std Bold", sans-serif;
}

hr {
    background-color: rgba(255, 255, 255, 0.5);
}

.faq hr {
    height: 2px;
    transition: all 0.5s ease;
}

.faq:hover hr {
    background-color: #26E8BD;;
}


h4{
    color: rgba(95, 255, 220, 1) !important;
}

.footer-border {
    min-height: 10vh;
    padding-bottom: 200px;
}

.footer {
    height: 10vh;
    margin-top: -10vh;
    color: #26E8BD;
    background-color:#26E8BD;
    padding-top: 20px;
    background: linear-gradient(135deg, #5A7A9600, #26E8BD); 
}
.footer .text-vcenter {
    margin: 0;
    line-height: 10vh; 
}
.footer .social-links {
    color: #ffffff;
    font-size: 100%; 
}
.footer a {
    color: #26E8BD;
    line-height: 10vh;
    padding: 15px 10px; 
}
.footer .footer-logo {
    display: inline-block;
    height: calc(10vh*0.45); 
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #26E8BD !important;
}

.custom-file-label {
    border: none !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border-radius: 0px !important;
}

#navigation-link {
    font-family: "Circular Std Bold", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}
#landing-section {
    color: white;
}
#hero-img {
    position: absolute;
    max-width: 100%;
    max-height: 500px;
    right: 10%;
    top: 75%;
    transform: translateY(-50%);
    z-index: 100;
}
.theme-font {
    font-family: 'Raleway Dots', cursive;
}
.theme-home-link {
    position: relative;
}
.theme-home-link:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 35px;
    bottom: -25%;
    left: -25%;
    background: linear-gradient(to left, #FF80CF22, #FF80CF22, #FF80CF22);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.theme-home-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.color-priority {
    width: 100%; 
    color:  #ffffff !important;
    z-index: 10;
}

.bg-gradient-right {
    background: #5A7A96;
    background: linear-gradient(135deg, #5A7A9600, #26E8BD);
    width: 100vw; 
    z-index: 10;
}

.bg-gradient-left {
    background: #5A7A96;
    background: linear-gradient(135deg, #26E8BD, #5A7A9600 );
    width: 100vw; 
    z-index: 10;
}

.bg-no-gradient {
    background: #5A7A96;
    background: linear-gradient(135deg, rgba(58, 78, 96, 0.516), rgba(69, 94, 116, 0.502) );
    width: 100vw; 
    z-index: 10;
}

.skew-right, .skew-left {
    padding-top: 3em;
    padding-bottom: 2em;
}
.skew-right { 
    transform: skew(0deg, -4deg);
}
.skew-left {
    transform: skew(0deg, 4deg);
}


/*older css*/
@font-face {
    font-family: "Circular Std Bold";
    src: url(../fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: "Circular Std Book";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Circular Std Book Italic";
    src: url(../fonts/CircularStd-BookItalic.otf);
}

@font-face {
    font-family: "Helvetica Regular";
    src: url(../fonts/helvetica-regular.otf);
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}

.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}

.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}

.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-center-xs {
        text-align: center;
    }

    .text-right-xs {
        text-align: right;
    }

    .text-justify-xs {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }

    .text-left-sm {
        text-align: left;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }

    .text-justify-sm {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }

    .text-left-md {
        text-align: left;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }

    .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lg {
        text-align: right;
    }

    .text-justify-lg {
        text-align: justify;
    }
}

body {
    overflow-x: hidden;
    background: #ffffff;
}

.bronze {
    color: #C96F0D !important;
    font-weight: bold;
    font-size: 20px;
}

.silver {
    color: #B7B7B7 !important;
    font-weight: bold;
    font-size: 20px;
}

.gold, .faq-q {
    color: #FFDF00 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.plat {
    color: #D8D8D8 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.bg-bronze {
    background-color: #C96F0D !important;
}

.bg-silver {
    background-color: #B7B7B7 !important;
}

.bg-gold {
    background-color: #F9DC62 !important;
}

.bg-plat {
    background-color: #D8D8D8 !important;
}

.bg-none {
    background: none !important;
}

.theme-purple {
    color: #7852C9;
}

.theme-red {
    color: #7852C9;
}

.theme-white {
    color: #ffffff;
}

.text-black {
    color: black;
}


.min-half-height {
    min-height: 50vh;
}

.min-quarter-height {
    min-height: 25vh;
}

.row.min-full-height, .row.min-quarter-height {
    padding-bottom: 50px;
}

.row.min-half-height {
    padding-bottom: 75px;
}

.row-title-box {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

    .row-title-box .row-title {
        color: inherit;
        margin: 0;
        padding: 10px 20px;
        display: inline-block;
        border: 1px solid;
        border-radius: 10px;
    }

.row-content-box {
    color: black;
}

.spons-level {
    text-transform: uppercase;
    text-align: center;
}

.spons-level-button {
    color: white;
}

    .spons-level-button:hover {
        background-color: #7B4397 !important;
    }

.splogo {
    width: 100%;
    border: 1px #7852C9 dotted;
    border-radius: 25px;
    padding: 15px;
    background-color: #ffffff;
}

.splogo-text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
