<html>
    <head>
    </head>
    <body>
        <% if (user) { %>
          <p> Hi <%= user.mlh_data.first_name %></p>
        <% } %>
        <% if (message) { %>
          <p><%= message %></p>
        <% } %>
        <a href="https://my.mlh.io/oauth/authorize?client_id=64d72325566be8ac48720912fbcbc2eb68e20fd24939d753e0a7a90755408112&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fcallback%2Fmymlh&response_type=code">Login with MyMLH</a>
        <a href="/dashboard">Go to Dashboard</a>
    </body>
</html>
