/* HackRU Fall 2017 Custom Stylesheet */
@font-face {
  font-family: "Circular Std Bold";
  src: url(../fonts/CircularStd-Bold.otf); }
@font-face {
  font-family: "Circular Std Book";
  src: url(../fonts/CircularStd-Book.otf); }
@font-face {
  font-family: "Circular Std Book Italic";
  src: url(../fonts/CircularStd-BookItalic.otf); }
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
  text-align: left; }

.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
  text-align: center; }

.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
  text-align: right; }

.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
  text-align: justify; }

@media (max-width: 767px) {
  .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
    text-align: inherit; }

  .text-left-xs {
    text-align: left; }

  .text-center-xs {
    text-align: center; }

  .text-right-xs {
    text-align: right; }

  .text-justify-xs {
    text-align: justify; } }
@media (min-width: 768px) and (max-width: 991px) {
  .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
    text-align: inherit; }

  .text-left-sm {
    text-align: left; }

  .text-center-sm {
    text-align: center; }

  .text-right-sm {
    text-align: right; }

  .text-justify-sm {
    text-align: justify; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
    text-align: inherit; }

  .text-left-md {
    text-align: left; }

  .text-center-md {
    text-align: center; }

  .text-right-md {
    text-align: right; }

  .text-justify-md {
    text-align: justify; } }
@media (min-width: 1200px) {
  .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
    text-align: inherit; }

  .text-left-lg {
    text-align: left; }

  .text-center-lg {
    text-align: center; }

  .text-right-lg {
    text-align: right; }

  .text-justify-lg {
    text-align: justify; } }
body {
  overflow-x: hidden; }

.bronze {
  color: #C96F0D !important; }

.silver {
  color: #B7B7B7 !important; }

.gold, .faq-q {
  color: #F9DC62 !important; }

.plat {
  color: #D8D8D8 !important; }

.bg-bronze {
  background-color: #C96F0D !important; }

.bg-silver {
  background-color: #B7B7B7 !important; }

.bg-gold {
  background-color: #F9DC62 !important; }

.bg-plat {
  background-color: #D8D8D8 !important; }

.bg-none {
  background: none !important; }

.theme-purple {
  color: #7B4397; }

.theme-red {
  color: #DC2430; }

.text-black {
  color: black; }

.bg-gradient, .bg-splash, #hero, .about-map-container, .progress-bar, .li-footer, .li-mobile-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7b4397+0,dc2430+100 */
  background: #7B4397;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7B4397 0%, #DC2430 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7B4397 0%, #DC2430 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7B4397 0%, #DC2430 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-purple', endColorstr='$color-red', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

.bg-splash, #hero {
  background-image: url(../assets/bg-splash.jpg);
  background-size: cover; }

a {
  color: #7B4397; }
  a:hover, a:focus {
    color: #DC2430; }

.z-top {
  z-index: 999; }

.skew {
  transform: skew(0deg, -4deg);
  margin-top: 50px; }

.unskew {
  transform: skew(0deg, 4deg); }

.full-height {
  height: 100vh; }

.min-full-height {
  min-height: 100vh; }

.min-half-height {
  min-height: 50vh; }

.min-quarter-height {
  min-height: 25vh; }

.bold-text, .btn, .row-title-box .row-title, .faq-q, .spons-level, .perk-row .perk-desc, .splogo-text, .footer a, .li-nav-bar .nav-item:hover .nav-link, .li-section-title-box .li-section-title, .social-link-card p, .li-footer a, .li-mobile-footer a {
  font-family: "Circular Std Bold", sans-serif; }

*, input, select, textarea {
  font-family: "Circular Std Book", sans-serif; }

.btn {
  background-color: #DC2430;
  color: white;
  border: none; }
  .btn:hover {
    background-color: #7B4397; }
  .btn:active {
    background-color: #7B4397;
    border: none; }
  .btn:focus {
    color: white;
    box-shadow: none; }

.btn-attend {
  color: lightgray;
  background: none;
  border: 1px solid; }

.btn-attend.btn.active, .btn-attend.btn:active {
  background-color: #7B4397;
  border: 1px solid #7B4397;
  outline: none;
  box-shadow: none !important; }

.btn-attend.btn.hover, .btn-attend.btn:hover {
  border-color: #7B4397; }

.btn-group label {
  margin-bottom: 0; }

.row.min-full-height, .row.min-quarter-height {
  padding-bottom: 50px; }
.row.min-half-height {
  padding-bottom: 75px; }

.row-title-box {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; }
  .row-title-box .row-title {
    color: inherit;
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px; }

.row-content-box {
  color: black; }

#hero {
  background-size: cover;
  color: white;
  overflow: hidden; }

.navbar-toggler:focus {
  outline: none; }

.nav-bar-div {
  margin: 0 -15px; }

#nav-bar {
  height: 15vh;
  line-height: 15vh; }
  #nav-bar a {
    color: white; }
    #nav-bar a:hover {
      color: #DC2430; }
  #nav-bar .nav-bar-link, #nav-bar .nav-bar-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  #nav-bar .nav-bar-logo {
    height: calc(15vh * .65); }

#nav-bar-mobile {
  height: 30vh;
  line-height: calc(30vh/2); }
  #nav-bar-mobile a {
    color: white; }
    #nav-bar-mobile a:hover {
      color: #DC2430; }
  #nav-bar-mobile .nav-bar-link, #nav-bar-mobile .nav-bar-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  #nav-bar-mobile .nav-bar-logo {
    width: 60%;
    padding-top: 30px; }

#sponsorship-hero {
  color: #7B4397;
  background-color: white; }

#hero-img {
  position: absolute;
  max-width: 100%;
  max-height: 500px;
  right: 10%;
  top: 75%;
  transform: translateY(-50%);
  z-index: 100; }

.about-icon {
  width: 90%; }

.about-map {
  overflow: hidden;
  height: 100%;
  border-radius: 5px; }

.about-map-container {
  padding: 3px;
  height: 250px;
  border-radius: 5px; }

.sched-event {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 115%; }
  .sched-event .sched-time {
    text-align: center;
    display: inline-block;
    width: 125px;
    color: inherit;
    padding: 6px 12px;
    border: 1px solid;
    border-radius: 5px; }
  .sched-event .sched-desc {
    display: inline-block;
    color: inherit;
    padding: 6px 12px; }

.faq-a {
  color: white;
  margin-bottom: 30px; }

.spons-level {
  text-transform: uppercase;
  text-align: center; }

.spons-level-button {
  color: white; }
  .spons-level-button:hover {
    background-color: #7B4397 !important; }

.perk-row .perk-select-col {
  /*Horizontal*/
  background-image: linear-gradient(to right, white 12.5%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x; }
.perk-row .perk-select {
  text-align: center; }
.perk-row h5, .perk-row p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0; }

.progress {
  background-color: white;
  border: 1px lightgray solid; }

.progress-bar {
  height: 4vh; }
  .progress-bar .progress-bar-text {
    line-height: 4vh; }

#sp-email, #sp-message {
  border: 1px #7B4397 solid; }

.splogo {
  width: 100%;
  border: 1px #DC2430 dotted;
  border-radius: 25px;
  padding: 15px; }

.splogo-text {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase; }

.footer {
  height: 10vh;
  color: #DC2430;
  background-color: white; }
  .footer .text-vcenter {
    margin: 0;
    line-height: 10vh; }
  .footer .social-links {
    font-size: 175%; }
  .footer a {
    color: #DC2430;
    line-height: 10vh;
    padding: 15px 10px; }
  .footer .footer-logo {
    display: inline-block;
    height: calc(10vh*0.45); }

.li-nav-bar {
  background-color: #7B4397;
  background-image: url(../assets/bg-splash.jpg);
  background-size: cover; }
  .li-nav-bar .li-nav-bar-logo {
    height: 75px;
    padding: 10px; }
  .li-nav-bar .nav-item {
    color: white;
    margin: 0 10px;
    padding: 5px 10px;
    display: inline-block; }
  .li-nav-bar .nav-link {
    padding: 0;
    font-size: 125%;
    color: white; }

.li-section-title-box {
  text-align: center;
  padding: 50px 30px; }
  .li-section-title-box .li-section-title {
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px; }

.social-link-card {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  height: 8vh; }
  .social-link-card a {
    color: inherit; }
    .social-link-card a:hover {
      text-decoration: none; }
  .social-link-card p {
    line-height: 8vh; }
  .social-link-card i {
    line-height: 8vh; }

.li-footer {
  height: 10vh;
  color: white; }
  .li-footer .text-vcenter {
    margin: 0;
    line-height: 10vh; }
  .li-footer .social-links {
    font-size: 175%; }
  .li-footer a {
    color: white;
    line-height: 10vh;
    padding: 15px 10px; }
  .li-footer .footer-logo {
    display: inline-block;
    height: calc(10vh*0.45); }

.li-mobile-footer {
  height: 30vh;
  color: white; }
  .li-mobile-footer .text-vcenter {
    margin: 0;
    line-height: calc(30vh/3); }
  .li-mobile-footer .social-links {
    font-size: 150%; }
  .li-mobile-footer a {
    color: white;
    line-height: calc(30vh/3);
    padding: 15px 10px; }
  .li-mobile-footer .footer-logo {
    display: inline-block;
    height: calc(calc(30vh/3)*0.45); }

.message {
  border: #DC2430 solid 1px;
  padding: 20px; }

.ru-card-col {
  padding-left: 25px;
  padding-right: 25px; }

.ru-card {
  border: #7B4397 solid 1px;
  padding: 0px 25px 25px 25px;
  margin-bottom: 25px;
  border-radius: 10px; }
  .ru-card .fa-fw {
    margin-right: 10px; }

.ru-card-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold; }
  .ru-card-title span {
    color: #7B4397;
    padding: 10px 20px;
    border-radius: 10px; }

.qr {
  margin-bottom: 25px; }

.ru-card-me .ru-card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.ru-card-info-pic {
  width: 80%; }

/*# sourceMappingURL=style.css.map */
