/* HackRU Fall 2017 Custom Stylesheet */

@font-face {
	font-family: "Circular Std Bold";
	src: url(../fonts/CircularStd-Bold.otf);
}

@font-face {
	font-family: "Circular Std Book";
	src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
	font-family: "Circular Std Book Italic";
	src: url(../fonts/CircularStd-BookItalic.otf);
}

// RESPONSIVE TEXT ALIGN CLASSES
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
	text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
	text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
	text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
	text-align: justify;
}

@media (max-width: 767px) {
	.text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
		text-align: inherit;
	}
	.text-left-xs {
		text-align: left;
	}
	.text-center-xs {
		text-align: center;
	}
	.text-right-xs {
		text-align: right;
	}
	.text-justify-xs {
		text-align: justify;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
		text-align: inherit;
	}
	.text-left-sm {
		text-align: left;
	}
	.text-center-sm {
		text-align: center;
	}
	.text-right-sm {
		text-align: right;
	}
	.text-justify-sm {
		text-align: justify;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
		text-align: inherit;
	}
	.text-left-md {
		text-align: left;
	}
	.text-center-md {
		text-align: center;
	}
	.text-right-md {
		text-align: right;
	}
	.text-justify-md {
		text-align: justify;
	}
}
@media (min-width: 1200px) {
	.text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
		text-align: inherit;
	}
	.text-left-lg {
		text-align: left;
	}
	.text-center-lg {
		text-align: center;
	}
	.text-right-lg {
		text-align: right;
	}
	.text-justify-lg {
		text-align: justify;
	}
}
// ********************************************************

$color-red: #DC2430;
$color-purple: #7B4397;

$color-bronze: #C96F0D;
$color-silver: #B7B7B7;
$color-gold: #F9DC62;
$color-plat: #D8D8D8;

.bronze {
	color: $color-bronze;
}

.silver {
	color: $color-silver;
}

.gold {
	color: $color-gold;
}

.plat {
	color: $color-plat;
}

.theme-purple {
	color: $color-purple;
}

.theme-red {
	color: $color-red;
}

.text-black {
	color: black;
}

.bg-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7b4397+0,dc2430+100 */
	background: $color-purple; /* Old browsers */
	background: -moz-linear-gradient(-45deg, $color-purple 0%, $color-red 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, $color-purple 0%, $color-red 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, $color-purple 0%, $color-red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-purple', endColorstr='$color-red', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.bg-splash {
	background-image: url(../assets/bg-splash.jpg);
	background-size: cover;

	@extend .bg-gradient;
}



$skew-angle: 4;

a {
	color: $color-purple;

	&:hover, &:focus {
		color: $color-red;
	}
}

.z-top {
	z-index: 999;
}

.skew {
	transform: skew(0deg, -#{$skew-angle}deg);
	margin-top: 50px;
}

.unskew {
	transform: skew(0deg, #{$skew-angle}deg);
}

.full-height {
	height: 100vh;
}

.min-full-height {
	min-height: 100vh;
}

.min-half-height {
	min-height: 50vh;
}

.min-quarter-height {
	min-height: 25vh;
}

.bold-text {
	font-family: "Circular Std Bold", sans-serif;

}

*, input, select {
	font-family: "Circular Std Book", sans-serif;
}

// todo: change form placeholder colors!
.btn {
	background-color: $color-red;
	color: white;
	@extend .bold-text;
	border: none;

	&:hover {
		background-color: $color-purple;
	}

	&:active {
		background-color: $color-purple;
		border: none;
	}

	&:focus {
		color: white;
		box-shadow: none;
	}
}


.row {
	&.min-full-height, &.min-quarter-height {
		padding-bottom: 50px;
	}

	&.min-half-height {
		padding-bottom: 75px;
	}
}

.row-title-box {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;

	.row-title {
		@extend .bold-text;
		color: inherit;
		margin: 0;
		padding: 10px 20px;
		display: inline-block;
		border: 1px solid;
		border-radius: 10px;
	}
}

.row-content-box {
	color: black;
}

#hero {
	@extend .bg-splash;
	background-size: cover;
	color: white;
	overflow: hidden;
}

#nav-bar {
	$nav-bar-height: 20vh;
	height: $nav-bar-height;
	line-height: $nav-bar-height;
	margin-bottom: 75px;

	a {
		color: white;
		&:hover {
			color: $color-red;
		}
	}
	.nav-bar-link {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	.nav-bar-logo {
		@extend .nav-bar-link;
		width: 75%;
	}
}


#hero-img {
	max-width: 90%;
	max-height: 450px;
}

.about-icon {
	width: 90%;
}

.about-icon-desc {

}

.about-map {
	overflow: hidden;
	height: 100%;
	border-radius: 5px;

}

.about-map-container {
	@extend .bg-gradient;
	padding: 3px;
	height: 250px;
	border-radius: 5px;
}

.sched-event {
	color: white;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 115%;

	.sched-time {
		text-align: center;
		display: inline-block;
		width: 125px;
		color: inherit;
		padding: 6px 12px;
		border: 1px solid;
		border-radius: 5px;
	}

	.sched-desc {
		display: inline-block;
		color: inherit;
		padding: 6px 12px;
	}
}

.faq-q {
	@extend .bold-text;
	@extend .theme-red;
}

.faq-a {
	margin-bottom: 30px;
}

.spons-level {
	@extend .bold-text;
	text-align: center;
}

$footer-height: 10vh;

.footer {
	height: $footer-height;
	margin-top: 50px;
	margin-bottom: 25px;

	color: $color-red;
	background-color: white;

	.text-vcenter {
		margin: 0;
		line-height: $footer-height;
	}

	.social-links {
		font-size: 175%;
	}

	a {
		color: $color-red;
		line-height: $footer-height;
		padding: 15px 10px;
		@extend .bold-text;

	}

	.footer-logo {
		display: inline-block;
		height: calc(#{$footer-height}*0.5);
	}

}







// LOGGED IN ELEMENTS

.li-nav-bar {
	background-color: $color-purple;
	background-image: url(../assets/bg-splash.jpg);
	background-size: cover;

	.li-nav-bar-logo {
		height: 75px;
		padding: 10px;
	}

	.nav-item {
		color: white;
		margin: 0 10px;
		padding: 5px 10px;
		display: inline-block;

	}

	.nav-item:hover {
		.nav-link {
			@extend .bold-text;
		}
	}

	.nav-link {
		padding: 0;
		font-size: 125%;
		color: white;
	}
}


.li-section-title-box {
	text-align: center;
	padding: 50px 30px;

	.li-section-title {
		@extend .bold-text;
		margin: 0;
		padding: 10px 20px;
		display: inline-block;
		border: 1px solid;
		border-radius: 10px;
	}

}

$social-link-card-height: 10vh;

.social-link-card {
	color: white;
	text-align: center;
	margin-bottom: 25px;
	height: $social-link-card-height;

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
	p {
		@extend .bold-text;
		line-height: $social-link-card-height;
	}

	i {
		line-height: $social-link-card-height;
	}
}


$li-footer-height: 10vh;
.li-footer {
	height: $li-footer-height;

	color: white;
	@extend .bg-gradient;

	.text-vcenter {
		margin: 0;
		line-height: $li-footer-height;

	}

	.social-links {
		font-size: 165%;
	}

	a {
		color: white;
		line-height: $li-footer-height;
		padding: 15px 10px;
		@extend .bold-text;

	}

	.footer-logo {
		display: inline-block;
		height: calc(#{$li-footer-height}*0.45);
	}
}

$li-mobile-footer-height: 30vh;
.li-mobile-footer {
	height: $li-mobile-footer-height;

	color: white;
	@extend .bg-gradient;

	.text-vcenter {
		margin: 0;
		line-height: calc(#{$li-mobile-footer-height}/3);

	}

	.social-links {
		font-size: 150%;
	}

	a {
		color: white;
		line-height: calc(#{$li-mobile-footer-height}/3);
		padding: 15px 10px;
		@extend .bold-text;

	}

	.footer-logo {
		display: inline-block;
		height: calc(calc(#{$li-mobile-footer-height}/3)*0.45);
	}
}

.message {
	border: $color-red solid 1px;
	padding: 20px;
}