/* HackRU Fall 2017 Custom Stylesheet */
@font-face {
  font-family: "Circular Std Bold";
  src: url(../fonts/CircularStd-Bold.otf); }
@font-face {
  font-family: "Circular Std Book";
  src: url(../fonts/CircularStd-Book.otf); }
@font-face {
  font-family: "Circular Std Book Italic";
  src: url(../fonts/CircularStd-BookItalic.otf); }
.bronze {
  color: #C96F0D; }

.silver {
  color: #B7B7B7; }

.gold {
  color: #F9DC62; }

.plat {
  color: #D8D8D8; }

.theme-purple {
  color: #7B4397; }

.theme-red, .faq-q {
  color: #DC2430; }

.text-black {
  color: black; }

.bg-gradient, .bg-splash, #hero, .about-map-container, .li-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7b4397+0,dc2430+100 */
  background: #7B4397;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7B4397 0%, #DC2430 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7B4397 0%, #DC2430 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7B4397 0%, #DC2430 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-purple', endColorstr='$color-red', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

.bg-splash, #hero {
  background-image: url(../assets/bg-splash.jpg);
  background-size: cover; }

a {
  color: #7B4397; }
  a:hover, a:focus {
    color: #DC2430; }

.z-top {
  z-index: 999; }

.skew {
  transform: skew(0deg, -4deg);
  margin-top: 50px; }

.unskew {
  transform: skew(0deg, 4deg); }

.full-height {
  height: 100vh; }

.min-full-height {
  min-height: 100vh; }

.min-half-height {
  min-height: 50vh; }

.min-quarter-height {
  min-height: 25vh; }

.bold-text, .row-title-box .row-title, .faq-q, .spons-level, .li-nav-bar .nav-item:hover .nav-link, .li-section-title-box .li-section-title {
  font-family: "Circular Std Bold", sans-serif; }

*, input, select {
  font-family: "Circular Std Book", sans-serif; }

.btn {
  color: white;
  border-color: white; }

.row.min-full-height, .row.min-half-height, .row.min-quarter-height {
  padding-bottom: 50px; }

.row-title-box {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; }
  .row-title-box .row-title {
    color: inherit;
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px; }

.row-content-box {
  color: black; }

#hero {
  background-size: cover;
  color: white;
  overflow: hidden; }

#nav-bar {
  height: 20vh;
  line-height: 20vh; }
  #nav-bar .nav-bar-link, #nav-bar .nav-bar-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  #nav-bar .nav-bar-logo {
    height: 65%; }

#hero-img {
  max-width: 90%;
  max-height: 400px;
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -webkit-transform: rotate(25deg);
  /* Chrome, Safari, Opera */
  transform: rotate(25deg); }

.about-icon {
  width: 90%; }

.about-map {
  overflow: hidden;
  height: 100%;
  border-radius: 5px; }

.about-map-container {
  padding: 3px;
  height: 250px;
  border-radius: 5px; }

.sched-event {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px; }
  .sched-event .sched-time {
    color: inherit;
    text-align: right;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px; }
  .sched-event .sched-desc {
    color: inherit;
    text-align: left;
    padding: 5px 10px; }

.spons-level {
  text-align: center; }

.li-nav-bar {
  background-color: #7B4397;
  background-image: url(../assets/bg-splash.jpg);
  background-size: cover; }
  .li-nav-bar .li-nav-bar-logo {
    height: 75px;
    padding: 10px; }
  .li-nav-bar .nav-item {
    color: white;
    margin: 0 10px;
    padding: 5px 10px;
    display: inline-block; }
  .li-nav-bar .nav-link {
    padding: 0;
    font-size: 125%;
    color: white; }

.li-section-title-box {
  text-align: center;
  padding: 50px 30px; }
  .li-section-title-box .li-section-title {
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px; }

.half-filler-img {
  max-width: 70%;
  max-height: 300px; }

.more-info {
  padding-left: 50px;
  border-left: 1px #7B4397 dotted; }

.li-footer {
  height: 10vh;
  color: white; }
  .li-footer .text-vcenter {
    margin: 0;
    line-height: 10vh; }
  .li-footer .social-links {
    font-size: 175%; }
  .li-footer a {
    color: white;
    line-height: 10vh;
    padding: 15px 10px; }
  .li-footer .footer-logo {
    display: inline-block;
    height: calc(10vh*0.5); }

/*# sourceMappingURL=style.css.map */
