/* line 6, ../sass/base.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/base.sass */
body {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/bg.jpg");
  background-blend-mode: multiply;
  background-color: #f43434;
  background-position: fixed;
  background-size: cover;
}
/* line 21, ../sass/base.sass */
body div {
  margin: 0 auto;
  text-align: center;
  font-family: "Work Sans";
  color: white;
}

/* line 27, ../sass/base.sass */
section {
  width: 100%;
  padding: 20px 10%;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 27, ../sass/base.sass */
  section {
    padding: 4% 0%;
  }
}

/* line 33, ../sass/base.sass */
#mlh-trust-badge {
  left: 50px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/base.sass */
  #mlh-trust-badge {
    left: 0;
  }
}

/* line 38, ../sass/base.sass */
.logo {
  margin-top: 10%;
  width: 100%;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 38, ../sass/base.sass */
  .logo {
    max-width: 175px;
    margin-top: 2%;
    padding: 3%;
  }
}

/* line 47, ../sass/base.sass */
.date {
  max-width: 500px;
  width: 90%;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 47, ../sass/base.sass */
  .date {
    font-size: 2.2vw;
  }
}
/* line 53, ../sass/base.sass */
.date span {
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 53, ../sass/base.sass */
  .date span {
    font-size: 5vw;
  }
}
/* line 58, ../sass/base.sass */
.date p {
  font-size: 2.7em;
  font-family: "Montserrat";
}
@media only screen and (max-width: 480px) {
  /* line 58, ../sass/base.sass */
  .date p {
    font-size: 9vw;
  }
}
/* line 63, ../sass/base.sass */
.date p:last-child {
  font-size: 1.6em;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  /* line 63, ../sass/base.sass */
  .date p:last-child {
    font-size: 5vw;
  }
}

/* line 68, ../sass/base.sass */
.coming-soon {
  height: 200px;
  font-size: 1.5em;
  font-family: "Work Sans";
  color: white;
  margin-top: 5%;
  transition: all 0.2s ease-in-out;
}
/* line 75, ../sass/base.sass */
.coming-soon span {
  border: 3px solid white;
  padding: 10px 30px;
  border-radius: 8px;
}
@media only screen and (max-width: 480px) {
  /* line 75, ../sass/base.sass */
  .coming-soon span {
    width: 90%;
    font-size: 5vw;
    padding: 3vw 8vw;
  }
}
@media only screen and (max-width: 480px) {
  /* line 68, ../sass/base.sass */
  .coming-soon {
    height: 20px;
  }
}

/* line 86, ../sass/base.sass */
::selection {
  background-color: white;
  color: #f43434;
}
