/* * {
  font-family: 'Titillium Web', 'Arial', sans-serif;
} */

.glow {
  /* text-shadow:1px 1px 6px #fff; */
}

.glow-symbol {
  box-shadow:1px 1px 6px #fff;
}

.glow-subtitle-color {
  box-shadow: 1px 1px 6px #4bbede;
}
.glow-subtitles {
  /* text-shadow:1px 1px 20px #f1e192; */
}

.transparent-black-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.floating {
  animation-name: floating;

  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}