<!DOCTYPE html>
<!--
 /$$   /$$                     /$$       /$$$$$$$  /$$   /$$        /$$$$$$   /$$$$$$    /$$   /$$$$$$$$
| $$  | $$                    | $$      | $$__  $$| $$  | $$       /$$__  $$ /$$$_  $$ /$$$$  |_____ $$/
| $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$| $$  \ $$| $$  | $$      |__/  \ $$| $$$$\ $$|_  $$       /$$/
| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/| $$$$$$$/| $$  | $$        /$$$$$$/| $$ $$ $$  | $$      /$$/
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$__  $$| $$  | $$       /$$____/ | $$\ $$$$  | $$     /$$/
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  \ $$| $$  | $$      | $$      | $$ \ $$$  | $$    /$$/
| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$  | $$|  $$$$$$/      | $$$$$$$$|  $$$$$$/ /$$$$$$ /$$/
|__/  |__/ \_______/ \_______/|__/  \__/|__/  |__/ \______/       |________/ \______/ |______/|__/

-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="og:title" content="HackRU Spring 2017" />
	<meta property="og:description" content="Spring into learning and creating. HackRU's 12th hackathon is coming to the Rutgers Athletic Center April 22nd - 23rd." />
	<meta property="og:image" content="http://www.hackru.org/assets/hackRU_SP17_avatar.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sign up for HackRU Spring 2017, taking place from April 22nd to 23rd.">
	<title>HackRU - Confirmation</title>

	<link rel="shortcut icon" href="./assets/logo-favicon.ico" type="image/x-icon">
	<link rel="icon" href="./assets/logo-favicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/custom.css">

	<script src="./js/jquery-3.1.1.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/8dec7403ea.js"></script>
	<script src="./js/custom.js"></script>
</head>

<body>
	<div class="container-fluid">


		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<div class="row subpage-section" id="manage-confirmation">

			<div class="col-xs-12">
				<div class="row subpage-hero">
					<div class="col-xs-12 subpage-nav"></div>
					<div class="col-xs-12 subpage-hero-title">
						<h1 class="hidden-xs">Change Confirmation Status</h1>
						<h3 class="visible-xs-block">Change Confirmation Status</h3>
					</div>
				</div>
				
				<div class="row subpage-content text-center">
					<div class="col-xs-10 col-md-7 col-lg-5">
						
						<% if(user.registration_status == 1) { %>
						<h3>Currently: Registered </h3>
						<a title="Being Registered doesn't mean you can attend. The next step is Confirming Your Attendance. We'll be emailing instructions on how to do that soon! Stay tuned!">What does this mean? Hover over me!</a>
						<% } else if(user.registration_status == 2) { %>
						<h3>Currently: Not Attending </h3>
						<% } else if(user.registration_status == 3) { %>
						<h3>Currently: Attending!</h3>
						<% } else if(user.registration_status == 4 ) { %>
						<h3>Currently: Waitlisted </h3>
						<% } %>
						<h3>Let us know if you can make it to HackRU!</h3>
						
						<form action="/confirm-status" class="form-horizontal" method="post">
							
							<div class="btn-group" data-toggle="buttons" id="attendance-select">
								
								<% if (user.registration_status >= 3) { %>
								
								<label class="btn btn-primary active" id="attending-label">
									<input type="radio" name="attendance" id="attending" autocomplete="off" value="attending" checked>
									<h1><i class="fa fa-smile-o" aria-hidden="true"></i> Attending</h1>
								</label>
								
								<label class="btn btn-primary" id="not-attending-label">
									<input type="radio" name="attendance" id="not-attending" autocomplete="off" value="not-attending">
									<h1><i class="fa fa-frown-o" aria-hidden="true"></i> Not Going</h1>
								</label>
								
								<% } else if (user.registration_status < 3) { %>
								
								<label class="btn btn-primary" id="attending-label">
									<input type="radio" name="attendance" id="attending" autocomplete="off" value="attending">
									<h1><i class="fa fa-smile-o" aria-hidden="true"></i> Attending</h1>
								</label>
								
								<label class="btn btn-primary active" id="not-attending-label">
									<input type="radio" name="attendance" id="not-attending" autocomplete="off" value="not-attending" checked>
									<h1><i class="fa fa-frown-o" aria-hidden="true"></i> Not Going</h1>
								</label>
								
								<% } %>
								
							</div>
							
							<input class="btn btn-default content-button" type="submit" value="Save">
							<a href="/dashboard" class="btn btn-default content-button">Dashboard</a>
						</form>
						
					</div>
				</div>
			</div>

		</div>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<div class="row" id="footer"></div>

	</div>
</body>

</html>
