.title{
    color: #d1e9ef;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    font-size: 55px;
    font-family: "Titillium Web";
}
@media only screen and (max-width: 760px) {
    .title{
        font-size: 40px;
    }
  
}