#navigation-link {
    font-family: "Circular Std Bold", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}
#landing-section {
    color: white;
}
#hero-img {
    position: absolute;
    max-width: 100%;
    max-height: 500px;
    right: 10%;
    top: 75%;
    transform: translateY(-50%);
    z-index: 100;
}