/* unused


.card {
    padding:10px;
    max-height: 450px;
}
.card section{
    overflow-y:auto;
    background-color:white;
}


.event {
}

.tweet{
    margin-bottom: 10px;
}
.tweet a{
    font-size: 23px;
    padding-left: 10px;
}
.tweet-user{
    margin-bottom: 10px;
}
.card-container{
    background-color:white;
    background-size:cover;
    border-radius:4px;
}
.card-elements{
    min-height: 300px;
    padding:10px;
    padding-top:1px;
    padding-right:0px;
    max-height: 300px;
    overflow-y:auto;
}
#user-qr-image{
    height:250px;
}
#gavel-iframe{

    height: 280px;
    width: 100%;
}
#dashboard{
    background-color:#4BCF7E;
}

*/